[2015-02-26 10:38] vasily-kirichenko commented on #938
Currently we highlight (in gray) unused private and internal: module/class let bindings, class methods, record fields, DU cases, local let bindings and unused open declarations (maybe some other categories). Doing the same solution-wide is so expensive (we would have to parse and check all projects which references the current one), that we intentionally cut it from the beginning.

[2015-02-26 16:03] OkayX6 commented on #939
Weird. Which version of VFPT do you have?

[2015-02-26 16:15] torbonde commented on #939
1.7.2 it seems. For some reason, VS complains about the underlying connection being closed, when I try to update.:/

[2015-02-26 20:59] xenocons commented on #938
hmmm, I guess for some reason even though I have the 'grey out' box ticked in the F# Power options, it does not do this? is there some combinative setting that needs also to be selected (I have some stuff disabled). I know powertools is working as I see the depth colorizer

![image](https://cloud.githubusercontent.com/assets/3858449/6401702/59c8b6cc-be56-11e4-9db4-e85d7225590d.png)

[2015-02-26 21:00] xenocons commented on #937
Ok, noted, I will go add the suggestion to those pages.

[2015-02-26 21:00] #937 closed

[2015-02-26 23:16] dungpa commented on #938
@xenocons You need to enable Syntax Coloring to see those `greyed out` values/bindings.

[2015-02-26 23:18] xenocons commented on #938
aha! thank you!!

[2015-02-26 23:18] #938 closed

[2015-02-28 22:31] vlaci commented on #925
I've noticed the following behavior: If I reset my VS settings to default in `Tools -> Import and Export Settings...` menu, syntax highlight works fine. But if I change the color scheme via importing a theme (in my case it was http://studiostyl.es/schemes/coding-horror-2010) F# specifgic syntax coloring is gone. Given that VS imports setting from MS account it is very likely that a customization f

[2015-02-28 22:47] vlaci commented on #925
I tracked down the problem: if I change the `Identifier` color in VS settingsto anything other than `Default` or `Automatic`, the syntax highlight of types, modules, etc is gone.

[2015-03-02 10:19] dungpa commented on #934
Fixed by #940.

[2015-03-02 10:19] #934 closed

[2015-03-02 10:20] dungpa commented on #893
Not sure about the status. I'm closing due to inactivity.

[2015-03-02 10:20] #893 closed

[2015-03-02 10:22] dungpa commented on #790
Couldn't repro cleanly. Closing since it doesn't affect any functionality.

[2015-03-02 10:22] #790 closed

[2015-03-02 20:12] dungpa commented on #201
@ctaggart I attempt a prototype with SourceLink.SymbolStore today and ran into a bug. Returned urls are incomplete e.g.

it had an md5 checksum of: C0FAF9F19DF8F0AA8FA783E728A20EE6
has download url if source indexed: "https://raw.githubusercontent.com/fsharp/FSharp.Compiler.Service/ec0293a16d1efb75a8dde78f0b495759179ee9bb/%var2%"
downloaded the file to the cache

I use your example to run inside F

[2015-03-02 20:32] ctaggart commented on #201
Awesome! So happy this is being worked on. I'll take a look after work today.

[2015-03-03 06:50] vasily-kirichenko opened #942 "[Coloring] Printf formatters and escaped symbols are not colored in VS 2015"
![image](https://cloud.githubusercontent.com/assets/873919/6457709/9a2f2656-c18a-11e4-850d-9376ea4f6b47.png)

![image](https://cloud.githubusercontent.com/assets/873919/6457714/b92d8f5c-c18a-11e4-81a4-798d98276374.png)

[2015-03-03 08:20] ctaggart commented on #201
Something is wrong with the source index of `0.0.82` and newer. I'll need to troubleshoot. You can continue forward by using a different library or an older version.

[code]

[2015-03-03 08:45] ctaggart commented on #201
So the bug is that the new indexes end up with `%%var2%%` when it is supposed to be just %var2%.

`pdbstr -r -s:srcsrv -p:packages\FSharp.Compiler.Service\lib\net45\FSharp.Compiler.Service.pdb`

`SRCSRVTRG=https://raw.githubusercontent.com/fsharp/FSharp.Compiler.Service/ec0293a16d1efb75a8dde78f0b495759179ee9bb/%%var2%%`

This line hasn't changed in a long time:
https://github.com/fsharp/FSharp.Com

[2015-03-03 08:51] dungpa commented on #201
I think @dsyme is the one who has pushed recent releases. We has always built the package locally and pushed it to NuGet.

[2015-03-03 09:50] isaacabraham commented on #925
OK, I've got 2015 CTP 6 and VFPT 1.7.3 and the problem is fixed now. The only issue I had was that a load of colourings e.g. functions etc. had been set to black-on-black. Now that the elements were available in Fonts and Colors I was able to manually fix them.

[2015-03-03 09:50] #925 closed

[2015-03-03 21:53] torbonde opened #943 "Wrong full name for active pattern case in rename dialog"
When renaming an active pattern case, the full name shown in the dialog is incorrect. I have attached a screenshot that shows it.

I don't know if this is a bug in VSFPT or in the F# compiler, but I don't know how to check it either.

![vsfpt rename](https://cloud.githubusercontent.com/assets/5451931/6473161/7991798e-c1ef-11e4-8e9d-fd5680f7b93e.PNG)

[2015-03-03 22:10] dungpa commented on #943
What is wrong with that?

I read `Fo.Foo` as `Foo` active pattern case in `Fo` module.

[2015-03-03 22:23] torbonde commented on #943
I guess I wasn't very clear. There is no `Fo` module. Had I tried renaming `Bar` the full name had read `Ba.Bar`.

[2015-03-04 06:31] dungpa commented on #943
Thanks. It's indeed a bug here.

[2015-03-04 06:45] dungpa commented on #201
@ctaggart Thanks. I will try that.

I wonder whether BCL assemblies and FSharp.Core.dll are source indexed.  If yes, this would make the feature much more compelling. And who are responsible for doing it?

[2015-03-04 07:13] ctaggart commented on #201
Catch-22! If you add this feature, it will be much more compelling for them to source index the pdb files. Now that Microsoft has moved a lot of .NET to GitHub, it is now possible for them to source index it all. I just logged the issue above for FSharp.Core.pdb. For all the aspnet vnext stuff, the issue is https://github.com/aspnet/Universe/issues/131. If you get this working, I'll definitely sho

[2015-03-04 07:55] vasily-kirichenko commented on #943
I must say `RenameDialog.fs` is a complete imperative mess.

[2015-03-04 08:03] vasily-kirichenko commented on #943
It seems active patterns always has empty `DisplayName`:

![image](https://cloud.githubusercontent.com/assets/873919/6479896/c0b4890a-c25d-11e4-9a9f-85e63b804031.png)

So our logic here does not work properly

[code]

Maximum we can do is to show `FullName = Bar`.

[2015-03-04 08:09] vasily-kirichenko commented on #943
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/944

[2015-03-04 08:09] #943 closed

[2015-03-04 18:45] dungpa commented on #201
@ctaggart It seems we can't avoid downloading pdb files from symbols servers. I know pdb files can be downloaded on demand if the debugger needs it in debugging mode. Is there any way I can download pdb files manually all at once? Or does SourceLink provide API to download certain pdb files from a given symbol server?

[2015-03-05 02:09] ctaggart commented on #201
@dungpa .pdb files can be put in the NuGet packages like several projects are already doing. `FSharp.Compiler.Service\lib\net45\FSharp.Compiler.Service.pdb`
This avoids having to use symbol servers.

If you enable Symbol Servers in Visual Studio, it will try to find the pdb files. It is usually a slow process and I don't recommend enabling symbol servers. Do note that you must set the cache direct

[2015-03-07 10:47] #201 closed

[2015-03-07 16:50] vasily-kirichenko commented on #942
CTP 6 crashes on startup and is generally not usable. Defer fixing this bug until it becomes stable enough.

[2015-03-09 03:01] ctaggart opened #947 "navigate to source for Octokit.net not working"
I'm testing out the latest build which has the `Navigate to Source` feature.
https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/1.8.0-a1503071249/artifacts

I created a new project with this NuGet `packages.config`:
[code]

The `Library1.fs`:
[code]

It correctly navigates to `hashMD5` implementation which is awesome to see!

It does not work when I try to navigate to `FromUnixTim

[2015-03-09 07:05] dungpa commented on #947
Is there any error message being shown on the status bar? Or does VS just silently do nothing?

[2015-03-09 15:34] dungpa commented on #942
@jaredpar Do you know if it is a known bug of VS 2015?

We override ordering to show escaped-character tags on top of string tags (see https://github.com/fsprojects/VisualFSharpPowerTools/blob/ec7c43525f5bbeb9e1c0f223d5fc70179c7044c4/src/FSharpVSPowerTools/SyntaxConstructClassifierProvider.cs#L390). It works for VS 2013 but hasn't worked for VS 2015 CTP. Any ideas to fix this?

[2015-03-09 17:49] ctaggart commented on #947
If the metadata option is enabled, it goes to the metadata. If the metadata option is disabled, the status bar shows:
![image](https://cloud.githubusercontent.com/assets/80104/6560758/bf80e868-c649-11e4-8a54-61d2be0f5612.png)
I am able to start debugging and step into `FromUnixTime` so I know it is source indexed correctly.

[2015-03-18 17:42] dungpa commented on #939
Just debug this today. VS2012 seems to behave differently in terms of ordering.

Coloring is rendered if I remove these lines:
https://github.com/fsprojects/VisualFSharpPowerTools/blob/b004049d0aea62232f05e4d328e2906480dabbb7/src/FSharpVSPowerTools/SyntaxConstructClassifierProvider.cs#L236

Any idea that I can set different attribute values on different VS versions? I really don't want to branch o

[2015-03-18 21:59] OkayX6 commented on #939
Why is only different with the dark theme?
Also, maybe you could make a custom attribute inheriting from Order, with different execution path depending on the version of VS?

[2015-03-18 23:10] xenocons opened #951 "[Unused declarations] issue with nunit"
Hello,

I am not sure if this is an issue, but it seems now that I got Unused declarations working (sort of) with my current theme, it  highlights everything within a [<TestFixture>] as by nature these functions\methods are not referenced by other F# code.

Here is a screenshot (note that the scroll bar is populated with many warnings)

![image](https://cloud.githubusercontent.com/assets/3858449/6

[2015-03-19 00:04] OkayX6 commented on #951
It is by design that attributes are not considered unused.
And unused declarations are simply grayed.

I am closing this for now, but if you would like to have it fixed, please consider creating a new request in our uservoice : https://vfpt.uservoice.com/

Thanks

[2015-03-19 00:04] #951 closed

[2015-03-19 13:26] dungpa commented on #939
@OkayX6 Coloring disappears completely on dark theme in VS 2012. It works partially in VS 2012 light theme (Printf & escaped characters aren't shown). I have no idea why.

Unfortunately `OrderAttribute` is a sealed class so I can't alter its behaviour.

[2015-03-19 13:39] dungpa commented on #939
@torbonde Would you mind to check whether this v1.7.4 fixes the issue https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/1.8.0-a1503191323/artifacts? Thanks.

[2015-03-19 16:12] #939 closed

[2015-03-19 18:52] torbonde commented on #939
@dungpa It does indeed fix the issue. Thanks!

[2015-03-31 08:48] dungpa commented on #860
@vasily-kirichenko This should be fixed in FCS 0.0.87. Could you have a look?

[2015-03-31 09:23] vasily-kirichenko commented on #860
Sure.

[2015-03-31 10:14] vasily-kirichenko commented on #860
Fixed via https://github.com/fsprojects/VisualFSharpPowerTools/pull/954

[2015-03-31 10:14] #860 closed

[2015-04-01 12:59] #908 closed

[2015-04-01 16:58] amazingant opened #957 "[Gray out unused declarations] Doesn't gray out self-referenced `rec` functions"
Given the following declarations, the `Gray out unused declarations` option correctly grays out `f'` and adds a marker to the scroll bar. The definition for `f` is not grayed out, because it references itself. While a self-reference technically means that the function is used at some point, it rather defeats the purpose of looking for unused definitions.

[code]

[2015-04-07 06:45] xenocons opened #958 "Syntax Coloring Latency"
Hello,

I am not sure how to explain this issue, but I notice *significant* overhead when using Syntax Coloring, specifically, frequently when I am typing, the VS text editor 'freezes' input for roughly 1 to 2 seconds or so, my suspicion is that the cause is the Syntax Coloring (or something related to it) as when I disable it, then close the text editor and reopen it, the problem seems to go away

[2015-04-07 06:57] vasily-kirichenko commented on #958
What profiler says?

[2015-04-07 06:57] xenocons opened #959 "Syntax Coloring - Miscoloring"
Hello,

When I used Syntax Coloring, it seems that it miscolors variables and functions when the VS2013 Color Themes are used, I remember seeing this bug raised previously, and fixed, yet it is reoccuring, I think possibly it might be best to give the user the ability to tweak the Syntax Coloring Colors (let me know if there is already a way, it wasn't immediately obvious):

![image](https://cloud

[2015-04-07 07:08] vasily-kirichenko commented on #959
What colors do you expect in particular? I don't use the dark theme, so your screenshot looks ok for me.

[2015-04-07 07:16] xenocons commented on #959
Hi Vasily,

When I use the normal VS dark theme with Syntax Coloring, it looks correct (unless I am missing something):
![image](https://cloud.githubusercontent.com/assets/3858449/7018564/61e6b09c-dd06-11e4-81d9-826f7fc6432b.png)

As you can see, the function names are nice and readable (a whiteish color). When I use the Solarized dark theme, it turns the text black, which is not suited to the dar

[2015-04-07 07:19] dungpa commented on #959
You can temporarily fix this by changing colors of  "F# Functions/Methods" as per http://fsprojects.github.io/VisualFSharpPowerTools/syntaxcoloring.html#How-to-customize-colors.

[2015-04-07 07:21] xenocons commented on #959
@dungpa aha! that is where the configuration is! Thanks ! Would you like to close this or track it as a bug/feature request?

[2015-04-07 07:31] xenocons commented on #958
Hi @vasily-kirichenko , I produced the behaviour and copied the output window:
[VFPT][Information 09:23:01 AM] [SyntaxConstructClassifier] [Fast stage]
Total = 00:00:00.3352192
getCategoriesAndLocations, 00:00:00.3142426
GetAllUsesOfAllSymbolsInFile, 00:00:00.0194682
instance.GetAllUsesOfAllSymbolsInFile, 00:00:00.0194625
LS allSymbolsUses, 00:00:00.0155502
LS GetAllUsesOfAllSymbolsInFile, 00:00:0

[2015-04-07 07:54] vasily-kirichenko commented on #958
You are right.
@dungpa It seems we call FCS by `Async.StartImmediately`. I tried to switch to `Async.Start` everywhere and it was crashing constantly. We should carefully examine why `StartImmediately` was used initially and eliminate all the usages where possible.

[2015-04-07 08:02] dungpa commented on #958
I think certain operations require to run on UI thread, but some uses of `StartImmediateSafe` are superficial. You can try to eliminate those constantly running on cursor changes first.

[2015-04-07 18:08] dungpa commented on #958
@vasily-kirichenko What I meant is to change `StartImmediateSafe` to `StartInThreadPoolSafe`, identify some code fragments that access UI components and switch back to UI thread explicitly (see https://github.com/fsprojects/VisualFSharpPowerTools/blob/bc76dc272cb941fdbc04e2a0d203a685c5d3bc84/src/FSharpVSPowerTools.Logic/GoToDefinitionFilter.fs#L406-L451). It's a bit of pain, but it's doable if we

[2015-04-13 07:30] toburger opened #960 "[Coloring] old FSharp.Core.dll causes syntax coloring to stop working"
By accident I discovered that by having an "old" FSharp.Core.dll (4.3.0) in the same folder as the source code file the syntax coloring stops working. A recent FSharp.Core.dll (4.3.1.0) doesn't cause this problem.
I don't even claim this a bug or anything, I just wanted to mention it, because it's fairly hard to discover.

Presumably the coloring process uses the DLL found in the directory where t

[2015-04-28 08:44] frankshearar opened #961 "Depth lines don't line up across blank lines"
Suppose I have a function in which there's a blank line. In this event, the vertical depth lines don't line up with the non-blank lines above and below.

![off-by-one-depth-lines](https://cloud.githubusercontent.com/assets/263056/7365789/34e198c4-ed8b-11e4-9bd6-c3bfdcbb316c.png)

[2015-04-30 09:12] hyh opened #962 "Quick Actions shortcut not working in VS2015 RC"
In VS2013, Quick Actions menu can be accessed via Ctrl + . shortcut. This is not working in VS2015. (I can still click the tooltip, only the shortcut is broken)
![image](https://cloud.githubusercontent.com/assets/650551/7409236/35842990-ef57-11e4-8826-8a77cb4229d3.png)

The shortcut is working in C# project though.
![image](https://cloud.githubusercontent.com/assets/650551/7409567/ef77be8c-ef59-11

[2015-05-08 10:10] vasily-kirichenko opened #963 "Add keyboard shortcut for inserting / updating comment containing type signature"
Before:

[code]

After:

[code]

[2015-05-08 10:16] vasily-kirichenko opened #964 "Show type of symbol under cursor in the status bar"

[2015-05-08 11:12] dungpa commented on #963
Feel free to do it if you want.

If we reuse `SignatureGenerator`, it will appear something like:

    // member GetBase: Ch<BasesType * Ch<Choice<Status, GetStatusError>>>

I think the information is useful in certain situations.

[2015-05-08 11:17] dungpa commented on #964
Isn't it too intrusive to use the status bar? It is a shared UI that can be used by anyone; the information displayed there may be overriden at any time.

Other options are:

 - Popup windows as per http://vfpt.uservoice.com/forums/247560-general/suggestions/6143128-show-type-annotation-on-expression

 - Tool windows similar to F# Interactive as per http://vfpt.uservoice.com/forums/247560-general/

[2015-05-08 11:31] vasily-kirichenko commented on #964
An entire tool window is too large and would waste a lot of space:

![image](https://cloud.githubusercontent.com/assets/873919/7535517/c85f9c08-f58e-11e4-9b1a-5994d2caf2e9.png)

I'd prefer an area inside the editor window, small and not sizable.

[2015-05-08 12:29] vasily-kirichenko commented on #964
I'm going to show it in status bar. It seems VS does not use its left side. Will see how it's going.

[2015-05-08 17:07] dungpa commented on #964
Sure, go for it.

An alternative is to build our own status bar.

An example from Viasfora:

http://viasfora.com/images/feat/devmargin-buffergraph.png

https://github.com/tomasr/viasfora/blob/67b34291909ddf327c0c97363dd887a48ded15bb/Viasfora/Margins/DevMarginVisual.xaml

[2015-05-10 20:41] dungpa commented on #960
Thanks for the information.
I think this will be useful for others as well.

I wish error messages from FCS are more descriptive. Here is a related note http://fsharp.github.io/FSharp.Compiler.Service/corelib.html.

[2015-05-13 22:33] rpwjanzen opened #966 "Q: How were the animated gifs in the documentation created?"
What tools were used to make the animated gifs that are displayed in the documentation? (E.g. [Union pattern match case generation](http://fsprojects.github.io/VisualFSharpPowerTools/unionpatternmatchcasegeneration.html) )  I would like to make a few for my own documentation.
Thanks!

[2015-05-13 23:32] OkayX6 commented on #966
Hey Ryan,

I used LiceCap :)
http://www.cockos.com/licecap/

[2015-05-14 18:40] #966 closed

[2015-05-18 19:44] philderbeast opened #967 "Format selection script.fsx, cursor goes to end of file"
Moved from https://github.com/Microsoft/visualfsharp/issues/455

In Visual Studio 2015 CTP, open an fsharp *.fsx script file and choose Edit|Advanced|Format Selection. If the code is reformatted then the cursor jumps to the end of the file after the reformatting. I would have expected the cursor to stay on the same line.

I tested this with the banana pyjamas loop in the following file at rev d3d9

[2015-05-19 02:56] CraigStuntz opened #968 "Renaming a module doesn't rename open references in other project"
Project one:

[code]

Project two:

[code]
Build, place cursor on Foo module name in Project 1, rename to ```NewName```.

**Expected** Both ```Foo```s in ```FooTests``` changed to ```NewName```.
**Actual** The line in the test method gets its reference renamed, but the ```open``` line does not get its reference renamed.

[2015-05-19 21:19] latkin opened #970 "'Generate union cases' injects text to the wrong place"
![gencase](https://cloud.githubusercontent.com/assets/5943573/7714146/242fc42c-fe31-11e4-9126-57c47be3e9af.gif)

Not 100% repro, might be a race condition where cursor is out of sync with where VFPT thinks it is

Repro in VS 2013 and 2015

[2015-05-19 22:23] latkin opened #971 ""Generate union cases" does not handle nested patterns"
[code]

Hover over `A1` or `A2` in bottom case, it will give bogus suggestion/completion:

![unioncase1](https://cloud.githubusercontent.com/assets/5943573/7715231/95e2d808-fe3a-11e4-84b2-2e3a60582c62.gif)

[2015-05-21 11:32] OkayX6 commented on #971
Aaahaha, I guess I will have to dive into the code after such a long break ;).
Interesting that nobody caught this before :).

Thanks @latkin !

[2015-05-22 22:07] dungpa commented on #968
Thanks for the bug report.

The quick answer is that there is no symbol for open statements coming from the compiler; therefore, there is no info for us to rename `open Foo` in a reliable way. See relevant feature request at https://github.com/fsharp/FSharp.Compiler.Service/issues/91.

[2015-05-24 11:40] dungpa commented on #964
Addressed by #973. Closing.

[2015-05-24 11:40] #964 closed

[2015-05-24 11:41] dungpa commented on #959
@xenocons I'm closing for now. Will try to find a better solution if anyone else complains about this.

[2015-05-24 11:41] #959 closed

[2015-05-24 11:42] dungpa commented on #694
I don't think we plan to do this anytime soon. Closing for now.

[2015-05-24 11:42] #694 closed

[2015-05-24 13:13] exercitusvir commented on #968
I am having this problem even within a project. The files of the renamed module and the not-renamed module are in a folder - the same folder - in case it is related to folders.

[2015-05-24 13:15] exercitusvir opened #974 "Renaming a file in a folder leads to confusing behavior"
When I rename a file in a folder, the renamed file jumps to the top of the project out of the folder. Then when I move the file with the Alt+Up/Down shortcut, it jumps back down into the folder. So it appears Visual F# Power Tools knows where it should be, but somehow Visual Studio visualizes it at the wrong position.

[2015-05-24 14:14] dungpa commented on #974
We documented the behaviour at http://fsprojects.github.io/VisualFSharpPowerTools/folderorganization.html#Limitations.

It's a bug in Visual F# Tools' project system. Unfortunately, there is nothing we can do from our extension.

I reported it some time ago https://github.com/Microsoft/visualfsharp/issues/259. It has been fixed in Visual F# Tools 4.0 for VS 2015 RC. In general, experience in folde

[2015-05-24 17:32] dungpa commented on #968
@exercitusvir No, it isn't related to folders. As I said above, it's a limitation of FSharp.Compiler.Service.

[2015-05-24 23:35] vadimkantorov opened #976 "Support for Matlab-like code blocks in the editor"
Matlab supports code blocks which are very useful for the interactive mode. Code blocks are areas of code between some separators (in Matlab separators are lines starting with double comment character, %%). All code in a code block under the cursor can be executed with a single keystroke.

[2015-05-25 08:15] vasily-kirichenko opened #977 "[Performance] Opening a file takes too much time"
~ 2-3 seconds. It's not ok. We need to investigate what's going on and move everything to ThreadPool.

[2015-05-25 08:22] vasily-kirichenko opened #978 "[Coloring] Exception in `FSharpVSPowerTools.StringCategorizers.EscapedChars.isRegularString`"
[code]

[2015-05-25 08:50] vasily-kirichenko commented on #978
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/975

[2015-05-25 08:50] #978 closed

[2015-05-25 08:57] vasily-kirichenko opened #979 "[Coloring] Exception in `FSharpVSPowerTools.StringCategorizers.lines`"
[code]

[2015-05-25 09:08] vasily-kirichenko commented on #979
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/975

[2015-05-25 09:08] #979 closed

[2015-05-25 11:03] vasily-kirichenko commented on #859
This is how it looks like at the moment:

![image](https://cloud.githubusercontent.com/assets/873919/7796301/9fe99d40-02e6-11e5-9ff4-0cd40a9c1081.png)

I think this PR is the cause https://github.com/fsprojects/VisualFSharpPowerTools/pull/952

[2015-05-25 11:04] vasily-kirichenko commented on #859
@dungpa I don't think proper coloring in VS 2012 is that important now. What about reverting that PR?

[2015-05-25 11:29] dungpa commented on #859
Ok, please revert #952. I don't know what we can do to make it work for every case.

[2015-05-25 12:48] dungpa commented on #976
Hi Vadim,

We've got the feature request at http://vfpt.uservoice.com/forums/247560-general/suggestions/6532884-send-code-cell-to-fsi-using-key-combination.
It's a very useful one. I hope a contributor will pick it up and send PR.

Since we handle feature requests on UserVoice, I'll close it here.

Thanks.

[2015-05-25 12:48] #976 closed

[2015-05-25 12:51] dungpa commented on #977
Is this a standalone file or does it belong to certain project/solution?

I've got UI freezes but they happen after the file has been opened. I think VFPT only kick in when a file has been opened and it has `FSharp` content type.

[2015-05-25 14:17] dungpa commented on #958
@xenocons We tried to address this issue via #975. Really appreciate if you can spend some time to test this beta build https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/1.9.0-a1505251346/artifacts. If there is still UI freeze, please let us know. Thanks.

[2015-05-25 14:17] #958 closed

[2015-05-26 01:42] exercitusvir opened #981 "Expected and given type signature swapped in tooltip for forward pipe operators"
When using forward pipe operators, Visual Studio shows the expected and given type signature in swapped (i.e. wrong) order when there are type mismatches:

Instead of

it shows

´´´

´´´

Basically, the type signature are swapped on type mismatches. Expected = given and given = expected.

This makes it very confusing sometimes.

[2015-05-26 17:57] vasily-kirichenko commented on #981
Although it's Visual F# Tool behavior, not this addin, could you provide a code snippet / screenshot showing the issue clearly?

[2015-05-26 18:19] vasily-kirichenko opened #983 "[Coloring] Type constraints are not taken into account when unused open declarations calculated"
[code]

[2015-05-26 20:41] vasily-kirichenko commented on #983
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/984

[2015-05-26 20:41] #983 closed

[2015-05-28 09:04] Tarmil opened #985 "Unused markers in the scrollbar area are drawn over the arrows and not redrawn on resize"
Unused markers are erroneously drawn over the full range of the scroll bar, including the up and down arrow:
![image](https://cloud.githubusercontent.com/assets/921395/7856316/7445d318-0528-11e5-8332-1b671218b6e0.png)

Additionally, their range is not recomputed when resizing the window, so they end up being drawn completely at the wrong place. For example this is what I got when shrinking the abo

[2015-05-29 11:47] dungpa commented on #985
Thanks for reporting the bug. I will have a look.

[2015-05-29 11:50] dungpa commented on #859
Fixed by #982.

[2015-05-29 11:50] #859 closed

[2015-05-29 20:28] isaacabraham opened #987 "Ctrl + . doesn't work on VS2015"
I've tried reclaiming the key in shortcuts but nothing seems to work.

[2015-05-29 20:35] dungpa commented on #987
I remember you once said there is an alternative key binding that works. What was that key binding?

[2015-05-30 02:17] xenocons commented on #958
Hi @dungpa , i have been testing with the beta build and VS2015 RC and i still get stuff like this:
[code]

Quite consistently it seems to be that 'GetAllUsesOfAllSymbolsInFile' takes the largest amount of time across all debug outputs, not uncommon to see it taking 150~400 msec

[2015-05-30 06:43] vasily-kirichenko commented on #958
@xenocons The idea of our fix is to move heavy computations out of UI (main) thread whatever possible. `GetAllUsesOfAllSymbolsInFile`, `instance.GetAllUsesOfAllSymbolsInFile` and `ParseFileInProject` are all calls to the F# compiler wrapped as F# Compiler Service (FCS) library (NuGet package) which we use for analyzing code. We cannot make FCS faster, we only try to remove any UI freezes (which ty

[2015-05-30 11:29] xenocons commented on #958
hmm ok, what about getCategoriesAndLocations, they both seem to be the next candidates (see below, ignoring the exception which doesn't seem related to perf issues?). We might be splitting hairs here though. FYI the files I have in my project are not really what I would call large, they average about 400 LoC, and there is about 8k LoC in the solution.

[code]

[2015-05-30 18:43] isaacabraham commented on #987
Shift + Alt + F10

[2015-05-31 21:47] dungpa commented on #846
I don't have Productivity Power Tools to test this. My guess is that it's an ordering issue where VFPT indent lines are rendered on top of Productivity Power Tools' column guides.

The relevant line is https://github.com/fsprojects/VisualFSharpPowerTools/blob/38715049c6c3a5b03478dd19bac47ac2c94a6382/src/FSharpVSPowerTools/DepthColorizerManager.cs#L58.

Mark this up-for-grab in case some one would

[2015-05-31 21:50] dungpa commented on #961
Thanks for the bug report.

I don't know what's causing this. Perhaps it's a WPF-related bug. The code that renders indent lines is at https://github.com/fsprojects/VisualFSharpPowerTools/blob/38715049c6c3a5b03478dd19bac47ac2c94a6382/src/FSharpVSPowerTools.Logic/DepthAdornmentManager.fs#L120-L162.

Mark this up-for-grabs. It would be great if someone can investigate further.

[2015-05-31 21:54] dungpa commented on #962
Thank you for report this.

The bottom line is that VS 2015 API has some breaking changes that left us in the dark. A workaround is to use `Shift + Alt + F10` instead of `Ctrl + .` until we catch up with the new API.

Closing this as a dup of #987.

[2015-05-31 21:54] #962 closed

[2015-05-31 21:56] dungpa commented on #987
Thanks.

The light bulb suggestions have got the `Ctrl + .` key binding now. Until we implement the new code path, one has to resort to `Shift + Alt + F10` then.

The new API is documented at https://msdn.microsoft.com/en-us/library/vstudio/dn903708(v=vs.140).aspx.

[2015-05-31 22:57] isaacabraham commented on #987
What's annoying is that even though I removed the light bulb key binding, it still doesn't help.

[2015-06-01 17:20] saosebastiao opened #988 "Feature Request: shortcut to attach debugger to current Fsi.exe window"
I would love to have a button or shortcut/command to attach the debugger to the FSI process in my active window. I guess it is fine to go through the menus most of the time, but even then there are times when I have to guess which of the few Fsi.exe processes is the one active in Visual Studio. It would be amazing to be able to do it with one click.

[2015-06-01 17:48] vasily-kirichenko commented on #988
In VS 2015 there is a context menu "debug in fsi", which sends selected code to fsi and attaches the debugger to it. I think it's what you want.

[2015-06-02 09:07] vasily-kirichenko opened #989 "[Quick info panel] It does not respect VS themes"
People say it's "black text on gray background" in the dark theme.

[2015-06-02 10:53] dungpa commented on #989
It seems we haven't ported all the magics yet.

We need an equivalence of https://github.com/tomasr/viasfora/blob/8a4f492aee059d5cacd53cf9e1b6bbe4c0a5a49a/Viasfora/Util/VsColors.cs, which makes use of VS colors in the margin.

See the article at http://winterdom.com/2014/01/pretty-quickinfo-tooltips-and-vs-themes (I don't think we need any reflection, just the general mechanism).

[2015-06-02 10:56] dungpa commented on #970
@OkayX6 Do you have time to look at this bug yet?

[2015-06-02 11:12] dungpa commented on #863
Marked as up-for-grabs. Hoping for a UI guru to appear and solve this :-).

[2015-06-02 14:12] OkayX6 commented on #970
Unfortunately not this moment :(
You can go ahead and fix it, I'll do the code review. But, I can tell you were to fix it if you need.

[2015-06-02 15:27] caseykramer opened #990 "Syntax Coloring reverts to default on Hibernate/Sleep/Remote Access"
I think the only reason I noticed this was because a regularly work on a laptop and and I have a dark color scheme with highly customized colors.

If the machine goes to sleep, hibernates, or if there is a remote desktop connection (occurs both when the remote connection is initiated, and when you log back in to the machine after a remote connection) the colors appear to revert to their default se

[2015-06-04 02:02] xenocons commented on #958
Another one, 'getOpenDeclarations', i have witnessed it taking a second:

[code]

[2015-06-04 08:46] dungpa commented on #990
Thanks for letting us know.

I find it really strange because synchronization is handled by Visual Studio. Perhaps It is related to VS behaviors where they sync settings across machines.

You can disable synchronization by:
 - Go to `Environment --> Synchronized Settings`
 - Uncheck `Appearance (Theme, Fonts and Colors)

Could you give it a try?

[2015-06-04 08:53] dungpa commented on #974
Closing since it's being fixed upstream.

[2015-06-04 08:53] #974 closed

[2015-06-04 17:22] vasily-kirichenko opened #992 "Show errors and warnings right in the code editor"
I think this is an ideal option to show errors and warning without mouse and not stealing space (like Quick Info panel does):

![6677](https://cloud.githubusercontent.com/assets/873919/7990104/4e1df38a-0af7-11e5-806b-621b50192aac.gif)

![image](https://cloud.githubusercontent.com/assets/873919/7990306/e1f12388-0af8-11e5-9e07-aa23ced60bbc.png)

This is how Xamarin show errors for D language (I'm no

[2015-06-05 09:03] dungpa commented on #992
I think I have enough support for errors/warnings with error lists, error tips, squiggles, etc. I would prefer to display popup for type/function signatures as per http://vfpt.uservoice.com/forums/247560-general/suggestions/6143128-show-type-annotation-on-expression.

By the way, if you want to implement this, take a look at the following adornment examples:

 - https://code.msdn.microsoft.com/Int

[2015-06-05 09:11] vasily-kirichenko commented on #992
I'm afraid I don't understand what do you mean by displaying popup for type/function signatures". Don't VFT's tooltips do it already?

[2015-06-05 09:12] vasily-kirichenko commented on #992
Thanks for the links.

[2015-06-05 09:17] dungpa commented on #992
By popup, I mean an adornment displayed on top of the identifier. They are turned on/off by keyboard shortcuts. They're different from tooltips in the sense that they can be left open and their contents can be copied.

[2015-06-05 10:01] vasily-kirichenko commented on #992
Now I think I have enough type info in tooltips :)

[2015-06-05 15:57] rk540 commented on #74
Hi All,
`
I am trying to use FsXaml and I get the following error :

Any Help would be appreciated.

RK

------ Build started: Project: atfgui, Configuration: Debug Any CPU ------
	C:\Program Files (x86)\Microsoft SDKs\F#\3.1\Framework\v4.0\fsc.exe -o:obj\Debug\atfgui.exe -g --debug:full --noframework --define:DEBUG --define:TRACE --doc:bin\Debug\atfgui.XML --optimize- --tailcalls- --platform:x64

[2015-06-06 07:13] Tarmil opened #993 "[Rename] Take into account the .fsi file to deduce the scope for renaming"
If a top-level symbol is defined without a scope keyword, then renaming it triggers a solution-wide rename. However such a symbol may actually be private or internal due to a declaration (or lack of declaration) in the corresponding .fsi file. In this case it would be nice to avoid the solution-wide rename.

[2015-06-07 11:04] dungpa commented on #993
Agreed. That would be a great improvement.

[2015-06-07 11:08] dungpa opened #994 "[Quick info panel] Add a tooltip for the panel"
When I open some files without any errors/warning, the panel is there but it displays nothing. At least we should have some tooltips on the panel so people know what it is supposed to do.

Something like "F# QuickInfo panel" would work.

[2015-06-07 11:46] vasily-kirichenko commented on #994
I think we should return Tooltip copy. One guy on Slack asked for it.

[2015-06-07 12:38] vasily-kirichenko commented on #994
Done in https://github.com/fsprojects/VisualFSharpPowerTools/pull/995

[2015-06-07 12:38] #994 closed

[2015-06-07 14:34] vasily-kirichenko opened #996 "FSharpVSPowerTools.v14.sln is not compiled in VS 2015 RC"
![image](https://cloud.githubusercontent.com/assets/873919/8024418/51ace286-0d3b-11e5-849d-21d8912a7be8.png)

[2015-06-07 14:39] vasily-kirichenko commented on #996
It needs `Microsoft.VisualStudio.Shell.12.0` which is missing if no VS2013 installed.

[2015-06-08 13:46] #996 closed

[2015-06-08 14:25] #989 closed

[2015-06-09 14:12] caseykramer commented on #990
Doesn't look like that helped. It seemed to do ok if I put the machine to sleep and then woke it back up, but making an RDP connection still caused the colors to go all strange.

I've attached before and after screen caps just in case that is helpful. If there is any additional info I can get to help debug let me know and I would be happy to do so.

![before](https://cloud.githubusercontent.com/as

[2015-06-10 09:18] vasily-kirichenko opened #999 "[Performance] Freezes VS UI for 30 seconds"
![image](https://cloud.githubusercontent.com/assets/873919/8079009/81a762fa-0f6a-11e5-865d-a6336c2c4d42.png)

=>

![image](https://cloud.githubusercontent.com/assets/873919/8078993/581dafa2-0f6a-11e5-96ea-3652b17ae768.png)

That's very strange because `Idents` is an array.

[2015-06-10 09:30] dungpa commented on #999
Could we put thread guards somewhere to detect what shouldn't be run on UI thread? IMO, this functionality has been moved to background threads, it shouldn't freeze VS UI that long.

[2015-06-10 09:47] #772 closed

[2015-06-10 09:47] #886 closed

[2015-06-10 09:47] #918 closed

[2015-06-10 10:08] dungpa commented on #988
@saosebastiao We handle feature requests at http://vfpt.uservoice.com/. Please add suggestions there if you would like to. For this particular one, we are unlikely to do anything since it's available in VS 2015 out of the box.

[2015-06-10 10:08] #988 closed

[2015-06-10 10:16] vasily-kirichenko commented on #999
Another freeze caused by

![image](https://cloud.githubusercontent.com/assets/873919/8080178/e3147930-0f72-11e5-9088-ff44f1657415.png)

[2015-06-10 14:38] vasily-kirichenko commented on #999
I'm profiling and optimizing in this PR https://github.com/fsprojects/VisualFSharpPowerTools/pull/1001, please review as I go. It's freezing like crazy in particular scenarios.

[2015-06-10 17:04] dungpa commented on #999
Can you describe the scenarios? It would be great if I can reproduce them too.

[2015-06-11 06:55] #970 closed

[2015-06-11 06:55] #971 closed

[2015-06-11 07:46] vasily-kirichenko commented on #999
Fixed via https://github.com/fsprojects/VisualFSharpPowerTools/pull/1001 and https://github.com/fsprojects/VisualFSharpPowerTools/pull/1002

[2015-06-11 07:46] #999 closed

[2015-06-11 11:00] dungpa commented on #960
I'm closing this issue. Will remember to point the users to this thread if similar problems come up.

[2015-06-11 11:00] #960 closed

[2015-06-11 11:04] dungpa commented on #935
I checked with a fresh install of VS 2015 RC. The issue no longer happens.
Please let us know if it still doesn't work for you.

[2015-06-11 11:04] #935 closed

[2015-06-11 21:24] dungpa commented on #737
As of today, all caches are invalidated when a solution is closed.

It's not entirely clear what the benefit of a cache data structure is. Closing.

[2015-06-11 21:24] #737 closed

[2015-06-11 22:03] dungpa commented on #963
Now that QuickInfo margin also includes type signatures, do you think this feature is necessary anymore?

[2015-06-12 05:52] vasily-kirichenko commented on #963
You are right.

[2015-06-12 05:52] #963 closed

[2015-06-12 06:52] vasily-kirichenko commented on #797
Before
[code]
1. Cursor at attribute definition (`SampleAttribute` -> `Sample1Attribute`)
[code]
2. Cursor at attribute applying (`Sample` -> `Sample1`)
[code]
3. Cursor at attribute creation, like a normal class (`SampleAttribute` -> `Sample1Attribute`)
[code]

[2015-06-12 08:22] antogh opened #1005 "Just installed FSPowerTools, lost all my F# env settings in Vstudio"
Hi, I'm new to F# and Vstudio extensions, so I don't know if having more experience could avoid this issue, anyway I thought it could be useful to report it.

As I finished to install the power tools all of my settings I made in Vstudio about F# environment (font and color for many F# items) have been lost and reset to default, so I had to redo every custom setting in Vstudio again, that took me h

[2015-06-12 08:59] dungpa commented on #797
Ok, thanks.

I'm on vacation now. I will take a look again when I'm back after a few days.

[2015-06-12 09:02] dungpa commented on #1005
Sorry that you experience the issue.

AFAIK we don't touch any of these settings inside Visual Studio. Perhaps for now, it's better to use 'Tools -> Import and Export Settings" to avoid the problem.

[2015-06-13 06:49] vasily-kirichenko opened #1006 "QuickInfo margin throws exception as it parses XAML"
![image](https://cloud.githubusercontent.com/assets/873919/8143389/845083f8-11b1-11e5-9a8b-7add9a48de58.png)

[2015-06-13 07:17] vasily-kirichenko commented on #1006
`VSColors.fs` was not shown in Solution Explorer and was not compiler => the error. However, it was in the fsproj file. Reloaded the project, everything is ok.

[2015-06-13 07:17] #1006 closed

[2015-06-17 09:49] dungpa commented on #797
@vasily-kirichenko I fixed case 2 at 529a959de183a9ba9f0dadca6621111a75294787.

Case 1 (and 3) is still syntactically correct. I think it's a minor issue but requires nasty changes to fix. Users can preserve the original short forms by renaming at attribute usages.

[2015-06-17 10:08] vasily-kirichenko opened #1009 "Unhandled exceptions on master"
I suspect they began arriving after my optimization here
https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/UnusedDeclarationMargin.fs#L33

I tried to catch them running a VS instance under debugger, but the debugger did not stop on them. Maybe it's Stack Overflow?

The exception is quite rare, several times a day.

BTW, the way `UnusedDeclarationMargin`

[2015-06-17 10:15] dungpa commented on #1009
You mean after adding this async call https://github.com/fsprojects/VisualFSharpPowerTools/blob/b9cae991885b5942cb00e2dbfc5e0d113bba2dca/src/FSharpVSPowerTools.Logic/UnusedDeclarationMargin.fs#L65? I haven't seen this issue yet.

[2015-06-17 10:18] vasily-kirichenko commented on #1009
Yes, but I'm not sure.

[2015-06-17 10:19] vasily-kirichenko commented on #1009
It says it's written the exception in the VS log, but there's not log file by the path it shows. However, this's the constant problem for me.

[2015-06-17 10:34] dungpa commented on #1009
Weird. The log file is often at C:\Users\<user name>\AppData\Roaming\Microsoft\VisualStudio\12.0\ActivityLog.xml.

[2015-06-17 10:37] vasily-kirichenko commented on #1009
Oh, thanks!

The error is:

[code]

[2015-06-17 10:44] #797 closed

[2015-06-17 10:46] vasily-kirichenko commented on #1009
It seems VFT raises this exception.

[2015-06-17 10:51] dungpa commented on #1009
Yes, but I think it results from our changes possibly.

When we query classifications, the VFT classifier is also called. I think it isn't safe to call from background threads hence the error.

[2015-06-17 10:56] dungpa commented on #1009
I agree that it is sub-optimal. I can improve it but this will introduce coupling with `SyntaxConstructClassifier`. Moreover, it needs information from the whole document, not the visible parts only. I'm not sure how we can avoid that.

[2015-06-17 11:06] vasily-kirichenko commented on #1009
I profiled the code and the hotpath is the translating spans to a fresh snapshot (all the spans from the whole document are translated, then Unused ones are filtered, which is a terrible waste of CPU resources).

`SyntaxConstructClassifier` should give `UnusedDeclarationMargin` raw spans, without any translating and filtering. `UnusedDeclarationMargin` should then filter Unused ones and does its c

[2015-06-17 11:07] vasily-kirichenko commented on #1009
I just don't see the way how to couple them.

[2015-06-17 11:12] dungpa commented on #1009
Where does the translation of all spans happen? I don't really see that part.

[2015-06-17 11:14] vasily-kirichenko commented on #1009
Here https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/SyntaxConstructClassifier.fs#L382

[2015-06-17 11:15] vasily-kirichenko commented on #1009
VS calls this https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/SyntaxConstructClassifier.fs#L401 _for each visible line_. `UnusedDeclarationMargin` calls it with a whole document span.

[2015-06-17 11:33] dungpa commented on #1009
I see. Let me give this a try in a separate PR.

Would it be OK to remove the Async call above while I'm at it?

[2015-06-17 11:45] vasily-kirichenko commented on #1009
Yes, if we get the spans directly from `SyntaxConstructClassifier`, then `async` can be removed.

[2015-06-17 11:45] vasily-kirichenko commented on #1009
Thanks!

[2015-06-17 12:00] #985 closed

[2015-06-17 12:03] vasily-kirichenko opened #1011 "[Find all references] Add a way to cancel the finding process"
For large solutions Find all references can take long time (a minute or two) and, what's more important, after it finished, VS occupy > 2 GB RAM which means you have to restart it. So, it'd be great if the search process would be cancellable (by pressing `Esc`, for example).

[2015-06-17 19:08] dungpa commented on #981
@exercitusvir This is a Visual F# Tools' issue. Feel free to open an issue at https://github.com/Microsoft/visualfsharp.

[2015-06-17 19:08] #981 closed

[2015-06-18 09:31] vasily-kirichenko opened #1014 "[Coloring] Highlighting unused declarations / open statements stops working"
At some point Unused stops working - the margin is not updated (it has outdated markers), new unused symbols are not highlighted as Unused.

Debugger showed that background compilation is triggered OK https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/SyntaxConstructClassifier.fs#L329 but the callback https://github.com/fsprojects/VisualFSharpPowerTools/b

[2015-06-18 09:54] dungpa commented on #1014
The callback at https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/SyntaxConstructClassifier.fs#L339 is only called when the project is compiled.

Is the `updateUnusedDeclarations` function called? We hook it at `ProjectChecked` event at https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/SyntaxConstructClassifier

[2015-06-18 09:57] vasily-kirichenko commented on #1014
Yes, I was wrong, I mean this callback https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/SyntaxConstructClassifier.fs#L357

It's not called. I try to add `protect` for the whole body of it and will wait for exceptions.

[2015-06-18 10:31] vasily-kirichenko commented on #1014
It stopped working again. The only errors in our log are (4 duplicates):
[code]

[2015-06-18 11:26] dungpa commented on #1014
I'm trying to fix it at #1015. I think it has the same root cause as #1009 does i.e. things have been invoked on a wrong thread.

[2015-06-18 11:27] vasily-kirichenko opened #1016 "FSharpChecker.ProjectChecked event is raised for no reason"
This lambda https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/SyntaxConstructClassifier.fs#L358-L375 is called 1-5 times for the same project and document even though the document has not changed - just move the caret with keyboard or click anywhere with mouse. It's extremely strange and I've no idea what's happening.

(`StartBackgroundCompile ` here htt

[2015-06-18 11:33] dungpa commented on #1016
Is the anonymous function called for different `projectFileName`? We have another `StartBackgroundCompile` inside its body https://github.com/fsprojects/VisualFSharpPowerTools/blob/f6fffb6e9d1cab23346171f675a882f3850e0e35/src/FSharpVSPowerTools.Logic/SyntaxConstructClassifier.fs#L370.

[2015-06-18 11:33] vasily-kirichenko commented on #1016
`projectFileName` is the same.

[2015-06-18 11:35] vasily-kirichenko commented on #1009
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1012

[2015-06-18 11:35] #1009 closed

[2015-06-18 12:59] vasily-kirichenko commented on #1014
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1015

[2015-06-18 12:59] #1014 closed

[2015-06-18 13:00] vasily-kirichenko commented on #1011
Since we have decreased FCS project check cache size, this issue is obsolete.

[2015-06-18 13:00] #1011 closed

[2015-06-18 13:04] vasily-kirichenko commented on #1016
I think it's triggered by this line https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Core/LanguageService.fs#L320

[2015-06-18 13:11] vasily-kirichenko commented on #1016
Yes. That's because we always pass `AllowStaleResults.No`. Do you remember why?

[2015-06-19 08:25] vasily-kirichenko commented on #1016
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1017

[2015-06-19 08:25] #1016 closed

[2015-06-19 11:14] vasily-kirichenko opened #1019 "Two instances of HighlightUsageTagger are created for each open document"
I added the following line
[code]
here https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/HighlightUsageTagger.fs#L82 and got the following output on each caret / mouse movement:

First document:
[code]
Second document:
[code]

[2015-06-19 11:15] vasily-kirichenko commented on #1019
I'm almost afraid to dive with debugger into our codebase :(

[2015-06-19 11:36] vasily-kirichenko commented on #1019
https://github.com/cloudRoutine/EditorUtilsFS/blob/b381e8b2075e0822f4e1fa210cea1296eea8b5ce/src/EditorUtilsFS/EditorUtilFactory.fs#L26

[2015-06-19 12:19] dungpa commented on #1019
Good for you. Everytime you debug, you find a new bug.

I'll send a PR for this one.

[2015-06-19 12:20] vasily-kirichenko commented on #1019
I'm already working on it. I added EditorUtils and use `EditorUtilsFactory.CreateBasicTagger`. It almost works.

[2015-06-19 12:24] vasily-kirichenko commented on #1019
Maybe we should inherit from this class https://github.com/jaredpar/EditorUtils/blob/6b1fa3d19dd4bc48ed5cd0501094155edf76cebc/Src/EditorUtils/AsyncTaggerSource.cs ? It'd simplify things greatly and maybe eliminate bugs.

[2015-06-19 12:47] dungpa commented on #1019
I think the tricky part is to avoid disposing taggers twice.

[2015-06-19 13:28] vasily-kirichenko commented on #1019
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1020

[2015-06-19 13:28] #1019 closed

[2015-06-20 15:03] vasily-kirichenko commented on #977
I profiled opening files and got this

![image](https://cloud.githubusercontent.com/assets/873919/8267810/8baeb884-1776-11e5-91df-470c78b182a0.png)

As it's not our code, I'm closing the issue.

[2015-06-20 15:03] #977 closed

[2015-06-23 09:55] xperiandri opened #1023 "Settings pages are badly layed out especially on High DPI"
General page of settings is cut at the left and bottom if Options window has minimum allowed size.
See screenshot. Bottom and right lines of groupbox are absent while top and left has some undesired margin
![f general page](https://cloud.githubusercontent.com/assets/2365592/8303612/c6bb4b62-19a7-11e5-8c95-7b0bbe6b8d82.png)

While Code Generation page is badly aligned at the left, top and is not re

[2015-06-23 10:36] vasily-kirichenko commented on #1023
We are not UI experts and very much appreciate a help from one :) The dialog is a WinForms control, so it's easily editable.

[2015-06-23 13:48] xperiandri commented on #1023
Fixed myself
Please merge

[2015-06-23 13:57] vasily-kirichenko commented on #1023
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1024

[2015-06-23 13:57] #1023 closed

[2015-06-23 20:36] dungpa commented on #967
I can't reproduce the issue. If you can give me a screenshot of which code block you selected, it would be great.

By the way, the script at https://github.com/BlockScope/ExpertFSharp/blob/d3d937ed12c8d091f984870a9b7ee3c4295cbee4/04Imperative/Script.fsx consists of many errors because it is copied/pasted from F# Interactive. Most of the time, formatting will fail for such programs.

[2015-06-24 01:26] vincpa opened #1025 "Display inferred types"
Although F# has awesome type inference, I often find myself hovering the mouse over local let statements to see what type's they are.

I would love to see a feature which hovers a very small type signature above variables and functions.

I would gladly help out to implement the feature if it's something worth doing.

[2015-06-24 05:16] vasily-kirichenko commented on #1025
You can see signature in Quick Info panel, which is a part of the new release.

If you still like to implement your feature, go for it. I'm not sure there is any space between lines of code to fit anything.

[2015-06-24 08:12] pver opened #1026 "Scrollbar markers too wide"
After updating from v1.8.0 to v1.9.0 (in Visual Studio 2012) I now notice that the markers in the scrollbar area are too wide:

![image](https://cloud.githubusercontent.com/assets/1618378/8325325/ea565362-1a58-11e5-81c4-19e2485c88f2.png)

They are fully functional, but they look scary like this :-)

I couldn't test/verify on a newer Visual Studio version yet. I also have Resharper installed, not s

[2015-06-24 14:21] dungpa commented on #1026
Thanks for letting us know. I will take a look.

[2015-06-24 14:28] dungpa commented on #1025
@vincpa A screenshot of the feature Vasily mentioned is available at http://fsprojects.github.io/VisualFSharpPowerTools/quickinfopanel.html.

We have a backlog of many feature requests at http://vfpt.uservoice.com/forums/247560-general/filters/top. Feel free to pick up any suggestion you like and implement it :-).

[2015-06-24 21:19] pver commented on #1026
Thanks!

A bit more info on this: I retested on a VS 2013 setup (also with ReSharper installed) and everything looks fine on that machine. So it looks like this is a VS 2012 specific issue (version 1.8.0 looked fine though on the same setup).
I'll also see if I can further track down the root cause of the issue.

[2015-06-26 13:03] pver commented on #1026
Discovered something else: it looks like the height of the document editor (or the scrollbar) is somehow taken into account when calculating the width of the markers. I've made a screen capture to demonstrate this behaviour:
![marker width demo](https://cloud.githubusercontent.com/assets/1618378/8377752/3ce60552-1c14-11e5-8a92-c9640f861ffc.gif)

[2015-06-26 16:56] dungpa commented on #1026
Great. Thanks a lot for the investigation. It does help. I will find a fix soon.

[2015-06-26 20:30] dungpa commented on #1026
@pver Could you help me to check this hotfix version at https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/1.10.0-a1506262012/artifacts? Thanks a lot.

[2015-06-26 21:57] pver commented on #1026
@dungpa Sure! I have to check it on my computer at work, so I'll have to do it after the weekend, but I'll test it first thing on Monday and give feedback. Already a big thanks for looking into it.

[2015-06-29 08:21] pver commented on #1026
@dungpa I did a test with the hotfix version and it works perfectly :+1: Thanks!

[2015-06-29 16:24] dungpa commented on #1026
Great. It was an easy fix thanks to your finding.

[2015-06-29 18:04] #1026 closed

[2015-06-29 23:14] dungpa opened #1030 "Core unit tests are failing"
A few recent builds are failing https://ci.appveyor.com/project/dungpa/visualfsharppowertools/history.

It's probably related to AppVeyor changes in their architectures http://www.appveyor.com/blog/2015/06/23/new-oss-build-environment-and-xamarin-support

[2015-06-30 06:17] #1030 closed

[2015-06-30 06:29] vasily-kirichenko opened #1032 "[Highlight references] Does not work for ``_`` identifier"

[2015-06-30 12:25] vasily-kirichenko opened #1033 "[Code generation] Changing self identifier used by "implement interface" feature is not applied for open files"
You have to close and reopen a document to use changed self identifier, which is not a great user experience.

[2015-06-30 16:07] dungpa commented on #1033
Most of our settings require reopening files to take effects. Some features (folder organization, task lists) even require restarting Visual Studio. I'm not sure what we can do to improve that.

We could add a label "Please reopen files for the changes to take effects" to 'Code Generation' dialog (similar to what have been done for general dialog). Hopefully it's more intuitive for users.

[2015-06-30 16:26] vasily-kirichenko commented on #1033
What about a new MEF service, `Settings`, which could be injected into our feature-implementing classes in `Logic` project. Those `Settings` should be 'live', i.e. the settings dialog modifies them after it's closed and the new setting values are immediately available.

[2015-06-30 16:46] dungpa commented on #1033
The idea is cool but I'm not sure how to implement it, sorry.

[2015-07-02 14:46] tgjones commented on #887
In case anyone else finds this issue hoping to learn where VS2015 now stores the current theme: I used Process Monitor to look for it. As of 2015 RC (I guess it may change in RTM), it is here:

[code]

and the format of the string value is harder to read programmatically than it used to be, although still possible:

[code]

It would be great if there was a public API to access this value, but I ha

[2015-07-04 11:40] bentayloruk opened #1035 "Interface stub code generation for internal types with InternalsVisibleTo"
Hi All,

*Thanks for making it so easy to get VFPT up and running locally!  It only took me 10 mins to get going.*

I can't seem to make *implement inteface* work with `internal` interfaces in another project, despite using `InternalsVisibleTo`.  I have an an existing C# library that has a fair few `internal` interface types.  I'd love to be able to stub these out using VFPT.

I've sperlunked arou

[2015-07-04 21:32] dungpa commented on #1035
Hi Ben,

You're right this needs some modifications in FCS.
Currently FCS uses `AccessibleFromSomeFSharpCode` which is lowest common denominator for accessibility. It hasn't yet to check for `InternalsVisibleTo` attributes.

There is already some accessibility checking implemented at https://github.com/fsharp/FSharp.Compiler.Service/blob/5cea4e1f8025082dfcb4e5a375fa48d126701efb/src/fsharp/vs/Symbo

[2015-07-06 14:26] bentayloruk commented on #1035
Great, thanks for the pointers.  I'll get back to this when I have a moment again!

[2015-07-07 10:35] vasily-kirichenko opened #1036 "Parsing and checking should be stopped when buffer is changed"
The problem: we request parse and check results for current file constantly when user is editing a file. That's OK, but for large files / projects checking may take up to several *minutes* (FCS for example). As a result, user never gets up-to-date coloring / highlight refs / lint / etc.; what he gets is heavy CPU load for nothing.

Yes, we try to kill current checking (in one place - colorizer, so

[2015-07-08 06:26] unuunc opened #1037 "Slows down loading huge solution file"
Hi ,

Can we disable the extension if project type is not of FSharp language projects. Observed that this extension slows down loading of my solutions file (very large, >100 projects ) even if that solution does not contain any Fsharp code.

I tried by enabling and disabling and it seems this extension is the root cause.

Thanks

[2015-07-08 20:19] dungpa commented on #1036
Sound reasonable.

We should take advantage of `OpenDocumentsTracker`; it already subscribes for all `BufferChanged` events.

One thing is unclear about your proposal. When will `IsChanged` be marked false again? It's problematic to use mutable record fields in potentially multithreading situations.

[2015-07-08 20:21] dungpa commented on #1037
What features do you enable in the PowerTools setting?

Only two features that do something while loading solutions are Task List comments and Folder Organization. Could you identify which feature causes the issue? Thanks.

[2015-07-14 11:55] unuunc commented on #1037
Tried your suggestion and it is faster after disabling these features. Still we can think of enabling extension only in case when project has FS code.

[2015-07-14 12:00] vasily-kirichenko commented on #1037
How much it's slower? 10x? 1.0001x?

[2015-07-14 16:42] dungpa opened #1039 "[Folder organization] Should not display menu on non-F# projects"
At the moment, F# Power Tools menu items are displayed on non-F# Projects although they're disabled.

[2015-07-14 16:49] dungpa commented on #1037
The extension doesn't do anything after knowing that the solution doesn't contain F# projects. However, checking  project types in solutions are expensive.

[2015-07-14 17:57] #1039 closed

[2015-07-14 18:54] dungpa commented on #967
Closing. Feel free to open another issue if you find a repro.

[2015-07-14 18:54] #967 closed

[2015-07-15 18:40] xperiandri opened #1041 "Use new Visual Studio 2015 UI to rename bindings (variables)"
Could you update the logic to be able to rename bindings (variables) inline like it does Visual Studio 2015 instead of showing a dialog window?

[2015-07-15 19:26] dungpa commented on #1041
That logic belongs to Visual C#/VB language services. We can only do it if it is exposed as a public extension point in VS SDK.

[2015-07-15 19:28] dungpa commented on #863
@xperiandri Would you mind to help with this :-)?

The idea is to replace all checkboxes by a property grid which is scrollable when adding more options. It works similar as Productivity Power Tools' options dialog.

[2015-07-15 19:35] xperiandri commented on #1041
I guess that if it works in editor which is common across Visual Studio it must available to all the languages

[2015-07-15 19:43] xperiandri opened #1042 "Enable Snippets in F#"
Could you enable Snippet service for F#
http://apollo13cn.blogspot.com/2012/06/f-code-snippet-visual-studio-2012-addon.html
Like it was done by this guy.
And provide a latest set of snippets from
http://fsharpcodesnippet.codeplex.com/
With Power Tools

I already asked Tao Liu to open source its extension.

I don't know if it is a good or bad idea to include them into power tools. So what do you th

[2015-07-15 20:14] xperiandri opened #1043 "Ctrl+. doesn't work in Visual Studio 2015"
I try to use Ctrl+. in Visual Studio 2015 but it doesn't work.
However smart tag appears using mouse

[2015-07-15 23:02] xperiandri commented on #1043
Is it possible to use analyzers in F# like in C#?
So light bulb appears if some refactoring is available?

[2015-07-16 05:04] vasily-kirichenko commented on #1043
Same. It does not work in vs 2015 though.

[2015-07-16 05:12] ashtonkj commented on #1043
You can get it to work by binding the key for View.ShowSmartTag to something (I use CTRL + , ). It will then work with FS Power Tools.

[2015-07-16 05:43] vasily-kirichenko commented on #1043
Ctrl + , is used for find all references.

[2015-07-16 06:17] ashtonkj commented on #1043
I rarely use find all references. I always use the smart tag options, so it wasn't much of a loss for me :P

[2015-07-16 09:40] xperiandri commented on #863
Would you propose to use toggle switches like they do?

Although it is somewhat harder to read property pages in general this is a good idea. If you group options into categories it is easier to find. I looked at Web Essentials options and they look pretty well

Another option is the way it is done in Debugging.

[2015-07-16 11:39] buybackoff opened #1044 "Renaming virtual methods doesn't work"
This is an edge case, just stumbled upon it and wanted to let you know. Sorry if this is a know issue already.

If I rename the virtual TestMethod, its name in the overloaded method doesn't change. I am using version 1.9.0.

[code]

The result of renaming is:

[code]

For non-virtual methods it works as expected.

Before:
[code]

After:

[code]

It also works for abstract methods:
Before:
[code]

[2015-07-16 11:41] dungpa commented on #863
A property grid with True/False would be enough I think. Productivity Power Tools' toggle switches are fancier but they can be confusing sometimes.

I agree that grouping options is very natural. We have similar approaches for formatting options at http://fsprojects.github.io/VisualFSharpPowerTools/codeformatting.html.

[2015-07-16 13:16] vasily-kirichenko commented on #1044
Hm. I've never used virtual methods in F# :)

[2015-07-16 17:29] xperiandri opened #1045 "Widen Scope refactoring"
Do you know if it is possible to implement Widen Scope refactoring using Visual Studio 2015 Light Bulb feature?

[2015-07-16 17:43] xperiandri commented on #1025
@vincpa I think we can implement it as a CodeRush plugin and do something like this
![CodeRush debugger](https://www.devexpress.com/Products/CodeRush/i/coderush-debug-visualizer-method-entry.png)
https://www.devexpress.com/Products/CodeRush/debug-visualizer.xml

[2015-07-16 17:44] xperiandri commented on #1025
I also thought about this feature and about feature which will show all the arguments implicitly passed to a function

[2015-07-16 17:47] xperiandri commented on #863
So, would you like me to do that?
Move from checkboxes to property grid?

I think it is worth to do a release with my layout improvement before I do that so we can compare usability.

[2015-07-16 17:56] dungpa commented on #863
Yes, please. You can choose a way that you find the most suitable. The main goal is to be able to accommodate more options.

We bump versions very often. You can download the latest version at https://ci.appveyor.com/project/dungpa/visualfsharppowertools/branch/master/artifacts.

[2015-07-16 18:14] dungpa commented on #1043
Closing as a dup of https://github.com/fsprojects/VisualFSharpPowerTools/issues/987.

We should move to the new API that occupies 'Ctrl + .' key binding at some point. It's very tricky since we would like to keep the features as is for VS 2013 and VS 2012.

[2015-07-16 18:14] #1043 closed

[2015-07-16 18:15] xperiandri commented on #1043
I think that it is a time to spit codebase
Maybe using Shared Project

[2015-07-16 20:24] dungpa opened #1046 "Support F# 4.0 constructs"
Visual Studio 2015 is close to RTM. We should migrate to a FCS version that is compatible with F# 4.0.

The relevant FCS version is available at https://www.nuget.org/packages/FSharp.Compiler.Service/1.4.0-beta.

[2015-07-19 09:13] vincpa commented on #1025
Maybe I'm just thinking with my C# hat on, but having type information at a glance does help readabiltiy.

@dungpa I'd love to implement it. How do I get F# type information in the editor? :):)

[2015-07-19 09:21] vasily-kirichenko commented on #1025
Looking at the screenshot, I see you are going to double visible lines and make the code looks sparse just C# does. Not a great idea.

@vincpa You'd implement a POC which would show fake type info. If it looks OK, we help you to show real type info.

[2015-07-19 10:58] xperiandri commented on #1025
So what? It will be a button to enable and disable this at any time.

[2015-07-19 11:30] vincpa commented on #1025
@vasily-kirichenko OK no problem. I've never submitted a pull-request before so do I close this issue and submit a pull request when ready?

[2015-07-19 12:29] dungpa commented on #1025
As many other features we have, some people like this, others don't. Just implement what you feel most natural. Everything else will follow.

@vincpa Please send a PR when you have a PoC. It's enough to get discussion going.

[2015-07-19 14:24] vasily-kirichenko commented on #1045
What it should do?

[2015-07-19 14:27] vasily-kirichenko commented on #1025
It was suggested more than a year ago, see http://vfpt.uservoice.com/forums/247560-general/suggestions/6087171-display-inferred-types-above-declaration

[2015-07-19 17:01] dungpa commented on #1042
In general, we welcome any PR adding unmaintained F# extensions to VFPT. However, the PR has to go through scrutiny so that the new part is in harmony with the rest of the code base. I'm not sure anyone wants to take that challenge for F# snippets.

[2015-07-19 17:10] vasily-kirichenko commented on #1042
I agree. I've never used snippets and never met a person who uses them. So if you really wants them integrated into this addin, go ahead.

[2015-07-19 19:09] xperiandri commented on #1025
Is there any guide of how to use F# compiler?
Does it have the similar capabilities to Roslyn?

[2015-07-19 19:28] vasily-kirichenko commented on #1025
http://fsharp.github.io/FSharp.Compiler.Service/

Take a look at how Quick Info Panel implemented. It shows the first line of tooltip, which fits your purpose quite well.

[2015-07-19 19:30] vasily-kirichenko commented on #1025
About Roslyn, I've no idea since I've not been interested what's going on in c# world for a couple of years.

[2015-07-19 20:52] xperiandri commented on #1025
Anyway as someone have already implemented come refactoring he used F# compiler info.
How did he do that? How can beginners jumpstart with doing that?

[2015-07-21 00:04] simra opened #1048 "Error in VS2015 RTM"
After installing F# power tools in VS2015 I see this error on launch:

Examining the ActivityLog, I see this error message:

[2015-07-21 02:28] simra commented on #1048
i probably put the cart before the horse because I installed this first, before opening any F# project that would trigger installation of the Visual F# components.  After installing Visual F#, opening a .fs file caused VS to crash.  I disabled the power tools and can open .fs files safely.  Reinstalled power tools and now everything works fine. I'll close, feel free to keep around as a low-pri bug

[2015-07-21 02:28] #1048 closed

[2015-07-21 23:24] xperiandri commented on #1045
Move a nested function 1 level up
If at the higher level is module then into that module else to the higher level function

[2015-07-21 23:50] xperiandri opened #1049 "Use Light Bulb API instead of Smart Tag API in VS2015"
We need to move to a new modern way of refactoring by using Light Bulb API instead of Smart Tag API in VS2015

[2015-07-22 05:34] #1046 closed

[2015-07-22 10:51] bentayloruk opened #1050 "Source code formatting breaks code by removing whitespace from expression"
Source code formatting breaks the expression `(Blah.TryCreate inputBlah)`, by removing the whitespace.  The following complete example code shows the working version:

[code]

After formatting, the last line has been changed and the code is broken:

[code]

[2015-07-22 19:12] smoothdeveloper commented on #1048
Considering that F# language has probably the lowest footprint of language support compared to other .net languages or c++, it would make sense to have it installed by default.

Disabling features based on telemetry makes sense when the features weight more than a couple hundred megabytes, but I believe F# is still bellow this threshold.

Also it seems lazy installation works for projects but does

[2015-07-22 21:11] pchalamet opened #1051 "VisualStudio 2015 + dark theme + F# power tools ==> white background"
Using VS2015 + dark theme with default color scheme looks fine.
But when importing exported color scheme from VS2013 (with F# powertools colors), it leads to white background all the time.
Expecting default background color for dark theme to be used.

[2015-07-22 21:29] dungpa commented on #1051
Do you have a stripped down version of VS setting file for me to test? That is, you choose Export settings, choose exporting only Fonts and Colors (including Power Tools colors).

[2015-07-22 21:48] dungpa commented on #1050
Thanks for reporting. I'll have a look.

[2015-07-22 21:56] pchalamet commented on #1051
Sure.

[code]

[2015-07-23 00:36] asik opened #1052 "VS2015 CE RTM crashes on startup with F# Power Tools installed"
On a clean install of VS2015 Community Edition, when I install F# Power Tools and restart, VS2015 crashes on startup. Then it crashes every time I try to open an F# solution. Uninstalling F# Power Tools fixes the problem.

Obviously not everyone is having this issue, I'm not sure what information I could provide that would be relevant. I previously had VS2015 RC which I uninstalled before installi

[2015-07-23 00:53] asik opened #1053 "Font coloring: bold setting not applied in VS2015"
In VS2015 Options -> Environment -> Fonts, checking the "bold" setting for an F# category like "F# Functions / Methods" has no effect. Changing the font color, however, does work.

[2015-07-23 05:10] dungpa commented on #1052
Do you select Visual F# to be installed when setting up VS 2015 RTM? See a similar issue https://github.com/fsprojects/VisualFSharpPowerTools/issues/1048.

Our assumption is that VS 2015 should have F# installed before installing our extension. However, things suddenly changed in VS 2015 RTM when F# isn't included in a typical installation.

[2015-07-23 09:34] bentayloruk commented on #1050
Great.  What does the `upstream` label denote?  An issue in FCS/another dependency?

[2015-07-23 10:06] dungpa commented on #1050
It's an issue in https://github.com/dungpa/fantomas engine. The 'upstream' label reminds me to push a fix there.

[2015-07-23 16:27] xperiandri commented on #863
But the latest release does not have my UI changes.

[2015-07-23 16:44] xperiandri commented on #1049
We need to update:
- implement interface
- rename
- generate record stub
- generate union pattern match cases
- generate references for FSI

@dungpa, @vasily-kirichenko, have I forgotten anything which needs to be updated to use Light Bulb?

[2015-07-23 17:21] asik commented on #1052
Yes I did. I could open an F# solution fine before installing the extension.

[2015-07-24 14:18] exercitusvir opened #1055 "Generated references not in correct order"
When a project (`P1`) references an assembly (`A`) and that project (`P1`) is referenced from another project (`P2`) in the same solution that also references that same assembly (`A`), then the command "Generate references for F# Interactive" does not necessarily generate references in the correct order. That's because it seems to use the order of declared references in the .fsproj file.

For exam

[2015-07-24 22:24] dungpa commented on #1055
We already tried to use compiler reference resolution to ensure correct ordering?

Do you have a sample project that reproduces the issue? You can strip out all source files; we just need two project files with correct assembly references.

[2015-07-24 23:05] dungpa commented on #887
@tgjones Thanks for the tip. I used it in #1058 to make theme detection more robust.

[2015-07-24 23:12] dungpa commented on #1051
@pchalamet Thanks for the setting file. Could you check whether the issue is fixed with the latest version https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.0.0-a1507242305/artifacts?

[2015-07-24 23:21] dungpa commented on #1049
Mostly correct. You should add "Resolve unopened namespaces" and remove "Generate references for FSI".

[2015-07-25 06:25] vasily-kirichenko commented on #1051
Wait until someone tested it.

[2015-07-25 07:13] pchalamet commented on #1051
Yes it works.
Thanks!

[2015-07-25 08:21] #1051 closed

[2015-07-25 08:22] vasily-kirichenko commented on #1051
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1058

[2015-07-25 17:12] exercitusvir opened #1059 "Visual F# Power Tools is unbearably slow and even blocks the Visual Studio UI"
I have a small solution (1 medium-sized project and 6 tiny projects) and Visual F# Power Tools makes working in Visual Studio unbearably slow. It even regularly causes Visual Studio 2013 to "not respond". It's already bad enough that it takes about 5-20s to see the result of updates, but blocking the UI is completely unacceptable. I can't imaging using it on large projects or solutions now.

You s

[2015-07-25 17:21] vasily-kirichenko commented on #1059
Please, review the code and tell us where we do intensive computations in the UI thread. Then we will think what to do with that.

[2015-07-25 17:50] exercitusvir commented on #1059
Which code do you mean?

[2015-07-25 18:45] vasily-kirichenko commented on #1059
This one.

[2015-07-25 18:50] vasily-kirichenko commented on #1059
Talking seriously, VFPT is fast enough to make the maintainers' daily job comfortable. That's it. If it's unusable for you for some reasons (you may work on really large solutions (like more than 200 projects), or you may run VS in a VM or on an old harware), I'm afraid it's you and only you who can make the addin faster.

[2015-07-25 20:13] dungpa commented on #1059
@exercitusvir What version of VFPT are you using? AFAIK v1.9.0 has incorporated a lot of optimizations to move computations away from UI thread.

You can profile the extension and recognize what slows down your particular use case. We would be happy to incorporate further optimizations, but we would like to know where things go wrong first.

[2015-07-26 05:59] vasily-kirichenko opened #1061 ""Navigate to" hangs forever on FSharp.Data"
VS 2015:
![image](https://cloud.githubusercontent.com/assets/873919/8892761/a7597474-3374-11e5-8470-fc29532c6676.png)
VS2013:
![image](https://cloud.githubusercontent.com/assets/873919/8892768/fd2b7762-3374-11e5-8288-ec8a9f7b893e.png)

They both hung, but at different progress.

[2015-07-26 06:09] vasily-kirichenko commented on #1061
After `packet restore` and rebuild everything is ok.

[2015-07-26 06:09] #1061 closed

[2015-07-26 06:13] vasily-kirichenko commented on #1053
I conform that:

* it is reproducible in VS 2015
* it is **not** reproducible in VS 2013

[2015-07-26 12:04] dungpa commented on #1052
We released v2.0.0 with a few fixes for F# 4.0 and VS 2015. Please give it a try and let us know if there is any issue.

[2015-07-26 12:04] #1052 closed

[2015-07-26 12:06] dungpa commented on #863
Your UI changes have been released with v2.0.0. It would be great if you help resolve this issue. It blocks us from adding any new feature to VFPT :-).

[2015-07-26 12:10] xperiandri commented on #863
I see
Cool
Next week

[2015-07-26 15:02] exercitusvir commented on #1059
@vasily-kirichenko As I said, it's 1 medium-sized project and 6 tiny projects (no 200). I am also not running it in a VM and not using old hardware.

It's kind of hard for an outsider to diagnose these kinds of issues. But the fact that the UI thread is blocked means that there must be work being done on the UI thread that should not be done there. I have no more performance issues since disabling

[2015-07-26 15:10] vasily-kirichenko commented on #1059
@exercitusvir Can you suggest a strategy to identify what code still runs in the UI thread?

[2015-07-26 15:20] exercitusvir commented on #1059
I am not sure. It did not even happen consistently. Just most of the time. Restarting Visual Studio sometimes helped for a while. But I noticed that it this always happened when I changed text (code or comments) in a project that uses explicit member constraints on statically resolved type parameters that are fulfilled by a class with overloaded static members. This is done to retroactively implem

[2015-07-26 15:39] asik commented on #1059
This may be related to known performance bug on the F# compiler (https://github.com/Microsoft/visualfsharp/issues/343) .

[2015-07-26 15:56] dungpa commented on #1059
@asik Yes, definitely.

@exercitusvir To be honest, if you use explicit member constraints extensively, you're out of luck. In the end, we still use F# compiler to do type checking. It can take forever or has abysmal behaviours for such programs.

You can disable all features that always run on code changes (see http://fsprojects.github.io/VisualFSharpPowerTools/faq.html#VFPT-is-slow-what-can-I-do

[2015-07-26 16:30] vasily-kirichenko commented on #1059
Unfortunately, I gave up using FSharp.Plus and FsControl because VFPT was unusable. It's definitely the compiler issue.

[2015-07-26 17:24] exercitusvir commented on #1059
Thanks for the information. I am not using FSharp.Plus or FsControl directly, but my approach is very similar, so I've added a comment to that issue to raise awareness.

Even if this is currently an issue of the F# compiler, why does it have it lock up the UI if everything is asynchronous? The UI never freezes when I have VFPT disabled. It would be better if VFPT did not lock up the UI and instead

[2015-07-26 17:26] exercitusvir commented on #1059
@dungpa Thanks for the suggestion. I'll try to disable all and re-enable each feature one by one to narrow down the feature that causes this.

[2015-07-28 23:52] xperiandri commented on #863
So now it might look like you asked

[2015-07-29 13:57] xperiandri commented on #863
What is Linter? LinterEnabled property?
Category
DisplayName
Description
DefaultValue

[2015-07-29 14:02] dungpa commented on #863
[code]

[2015-07-29 14:14] xperiandri commented on #1037
Maybe it is because of usage of old API? Could using EnvDTE90, 100 help?

[2015-07-29 14:14] xperiandri opened #1063 "Display file contents in Solution Explorer"
Is it possible to display F# file contents in Solution Explorer like it is done for C#?
I mean that when you open C# file node it displays a list of classes in a file. Then if you expand a class it will display a list of its members.

I want the same thing for F# so it will display all the modules, types and functions in that class.
In order to be able to search from within Solution Explorer

[2015-07-29 14:45] xperiandri commented on #863
What does this integration mean?
How F# Power Tools are related to F# Lint?

[2015-07-29 15:07] dungpa commented on #863
They publish a NuGet package that we use to provide Lint warninhs to users.

[2015-07-29 17:51] xperiandri commented on #863
So I wonder how can I see this

[2015-07-29 19:37] dungpa commented on #1063
Feature request: http://vfpt.uservoice.com/forums/247560-general/suggestions/6785640-feaure-request-code-navigation-using-class-view
Related discussion: http://visualfsharp.codeplex.com/workitem/135

[2015-07-29 19:49] dungpa commented on #1063
I agree it could be useful.

Hope one day @ReedCopsey could help with this.

[2015-07-29 19:55] jasonmalinowski commented on #942
Looking at your `FSharpEscapedFormat` definition that @dungpa referenced, I don't see any indication that the classification types will order correctly. The editor picks the color to use based upon the priorities specified in the Order attribute, with the highest priority ultimately "winning". Looking at the relative orderings, you order before "Default", and NaturalLanguage defines itself after D

[2015-07-29 20:16] dungpa commented on #942
@jasonmalinowski You're absolutely right. It fixes the issue.

Is there any place to read about relative ordering by Order attribute? I find it really confusing.

[2015-07-29 20:21] dungpa commented on #1053
AFAIK, persistence of font faces is handled automatically by Visual Studio. I wonder what we have to change at https://github.com/fsprojects/VisualFSharpPowerTools/blob/fc073522696b09d0f941cf4d0c30599c9fb910ef/src/FSharpVSPowerTools/SyntaxConstructClassifierProvider.cs#L291-L301 to make it work for VS 2015.

Could you give us some hints? /cc @jasonmalinowski @jaredpar @vladima

[2015-07-29 21:39] xperiandri commented on #1063
Does this feature really has name Class View?

[2015-07-29 21:51] xperiandri commented on #863
What do I have to see after I install F# Lint NuGet and enable integration in VFPT?

[2015-07-29 21:58] dungpa commented on #863
It's not officially released yet. You can install this build https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.1.0-a1507261204 or build it from source.

Here is a screenshot https://cloud.githubusercontent.com/assets/873919/8511262/24354f9a-2317-11e5-864c-cf9afb35fdfa.png

[2015-07-29 22:14] xperiandri commented on #863
Will it also appear on scrollbar as annotation?

[2015-08-01 12:58] vasily-kirichenko commented on #1063
The first thing I do in a fresh installed VS is disabling this feature through the registry.

We manage feature requests on User Voice, so I'm closing this.

[2015-08-01 12:58] #1063 closed

[2015-08-01 12:58] vasily-kirichenko commented on #1045
We are managing feature requests on User Voice.

[2015-08-01 12:58] #1045 closed

[2015-08-01 12:59] vasily-kirichenko commented on #1042
We are managing feature requests on User Voice.

[2015-08-01 12:59] #1042 closed

[2015-08-01 13:00] vasily-kirichenko commented on #1037
@unuunc can you provide measurements? How longer your solution is loaded having VFPT enabled? If you cannot, I'll close this issue.

[2015-08-01 13:02] vasily-kirichenko commented on #1025
We don't manage feature requests here, please use http://vfpt.uservoice.com

[2015-08-01 13:02] #1025 closed

[2015-08-01 13:03] vasily-kirichenko commented on #992
I don't think it's a good idea anymore. I'm closing it.

[2015-08-01 13:03] #992 closed

[2015-08-01 13:17] vasily-kirichenko commented on #942
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1064

[2015-08-01 13:17] #942 closed

[2015-08-01 16:30] drvink commented on #1059
Unfortunately this issue is not limited to VFPT; you will see the same behavior when using e.g. Emacs and fsharp-mode. :(

[2015-08-02 08:31] vasily-kirichenko commented on #444
@dungpa no, it has not been fixed. VS 2013:

![image](https://cloud.githubusercontent.com/assets/873919/9025347/e2857de6-3909-11e5-857e-67de16a79339.png)

No coloring, no current symbol highlighting and so on.

[2015-08-02 22:57] dungpa commented on #444
This version works (notice changine 'NET45' to 'Net40-client'):

[code]
I guess the reason is that FSI still uses .NET 4.0 assemblies for resolution.

Here is the resolution with project files. It works fine since all assemblies are resolved in .NET 4.5:

  "C:\Users\abc\Documents\Visual Studio 2013\Projects\TutorialPerf1\Library1.fs"|], FSharpProjectOptions: [|"-o:obj\Debug\TutorialPerf1.dll"; "-

[2015-08-03 07:31] vasily-kirichenko commented on #444
I confirm, it work. Thanks!

[2015-08-03 07:31] #444 closed

[2015-08-03 12:54] philderbeast commented on #967
The line range for the loop is ...

https://github.com/BlockScope/ExpertFSharp/blob/d3d937ed12c8d091f984870a9b7ee3c4295cbee4/04Imperative/Script.fsx#L31-33

I can still reproduce it but can see that the scroll occurs but is not always to the very end of the file. To trigger the reformatting you would have to add some bad or different formatting to the code snippet, select the code to be reformated

[2015-08-03 12:57] philderbeast commented on #967
TODO: Try in vs2015 RTM.

[2015-08-03 15:46] vasily-kirichenko commented on #1049
@dungpa So, it can be compiled in VS 2015 only, right? Can you formulate the process? Should we add `FSharpVSPowerTools.Logic.VS2015` project and put all VS 2015 stuff there? Should the project be included into `FSharpVSPowerTools.v14.sln` only?

Could you write a short description how our stuff organized regarding different version of VS?

[2015-08-03 17:31] ovatsus commented on #1049
Please make it an option so you can opt to have just the current SmartTags with the discrete underline instead of the LightBulb

[2015-08-03 17:34] xperiandri commented on #1049
@ovatsus, do you think someone will ever use Smart Tags instead if he has Light Bulb?
Light Bulb is a primary way of doing refactoring in Visual Studio 2015.
Smart Tag even can't be executed using Ctrl+.

[2015-08-03 17:40] dungpa commented on #1049
@vasily-kirichenko It can be compiled with VS 2013 if we include VS 2015 dlls into build process. And they can appear in both solutions.

Here is how it works:

 - `FSharpVSPowerTools.Logic.VS2015` exports a provider with fully working solution. It exports as `VS2015` attribute.
 - `FSharpVSPowerTools.Logic` exports a provider which simply returns null. It exports as `VS2013` attribute.
 - The mai

[2015-08-03 20:00] jasonmalinowski commented on #942
@dungpa: if there is a good explanation of the Order attribute somewhere, I don't really know where it is. :cry:

As you're aware, multiple classifiers can tag the same span with different classifications. The editor ultimately chooses which color to show it based upon a priority system. The editor imports all of the different `ClassificationFormatDefinitions`, and then attempts to come up with a

[2015-08-03 20:07] dungpa commented on #942
@jasonmalinowski Thanks for the explanation. It's really informative.

Could you please comment on https://github.com/fsprojects/VisualFSharpPowerTools/issues/1053#issuecomment-126084817? I think it is related issue that requires understanding internal details for which I couldn't find anywhere.

[2015-08-03 20:12] jasonmalinowski commented on #942
@dungpa, yep, that was next on my TODO list!

[2015-08-03 20:15] dungpa commented on #942
Great. Thanks in advance :+1: .

[2015-08-03 20:24] jasonmalinowski commented on #1053
In general, should update all of your classification formats to be Order After = <some appropriate default>. Right now since your ordering isn't correctly stated, all bets are off.

Still, it's odd that colors would work but bold wouldn't, so something else might be amiss. I'll e-mail a few people internally to try to get an answer. I'd mention them on GitHub but I don't know their handles.

[2015-08-03 20:35] dungpa commented on #1053
Oops, it works on master now after fixing ordering https://github.com/fsprojects/VisualFSharpPowerTools/pull/1064.

Case closed. Thank you for your insights.

[2015-08-03 20:35] #1053 closed

[2015-08-03 21:03] dungpa commented on #863
The layout has been made scrollable as per https://github.com/fsprojects/VisualFSharpPowerTools/pull/1024. Further improvement as per #1062 doesn't seem worthwhile. Closing.

[2015-08-03 21:03] #863 closed

[2015-08-03 21:14] dungpa commented on #1049
@vasily-kirichenko Something new you may not notice. In Properties page of `FSharpVSPowerTools.csproj`, you can change experimental instance of `Visual Studio 12` to that of `Visual Studio 14` so that deployment can be done on directly VS 2015. We can use this to develop in VS 2013 and test in both VS 2013 and VS 2015.

[2015-08-03 21:33] xperiandri commented on #1049
I wonder what is the purpose to do such dances with a tambourine? :)

[2015-08-04 05:48] vasily-kirichenko commented on #1049
@dungpa I tried to build in 2013 and "run without debugger" with 2015. It launches, but the addin was not installed. So I've given up and move to 2015 for now. It hangs rather often though, and I have to kill it and restart.

[2015-08-04 06:38] dungpa commented on #1049
I can F5 (run under debugging) to install and debug VFPT on VS 2015. There might be some exceptions, but it works after ignoring those. It's quite handy since VS 2013 is much more stable to use than VS 2015.

[2015-08-04 06:45] vasily-kirichenko commented on #1049
I'm trying to use 2015 -> 2015 and what I get on Ctrl+F5:

![image](https://cloud.githubusercontent.com/assets/873919/9054797/8b17dd62-3a8d-11e5-8ee3-6c98c29ae656.png)

I never seen anything like this in my whole life.

[2015-08-04 07:08] vasily-kirichenko commented on #1049
It does not work for me :( This is VS 2013 output:

[code]
Everything looks OK, but VFPT does not appear in Extensions and Updates dialog nor it works, of course.

[2015-08-04 07:12] vasily-kirichenko commented on #1049
If I change `/rootsuffix` to some new value, then it does not work even VS 2015 -> VS 2015. Could you reproduce it?

[2015-08-04 08:40] xperiandri commented on #1049
Did you install RTM on top of RC or did you do 2015 RTM clean install?

[2015-08-04 14:11] dungpa commented on #1049
Nothing looks suspicious from the log. You can try to bump version in `extension.vsixmanifest` and check that all assemblies are copied to `C:\Users\kot\AppData\Local\Microsoft\VisualStudio\14.0Exp\Extensions\fsharp.org\Visual F# Power Tools\<version>` correctly.

[2015-08-04 14:44] drcrook1 opened #1066 "Does not work with VS 2015 Community"
I installed in VS 2015 Community, however syntax coloring, depth colorization and Refactoring does not work.  I have to migrate all of my work and demos to VS 2015, it would be terrible to have my demos not including these tools.  For now I am showing off in VS 2013, but I don't get any of the new F# goodies that I'm already starting to enjoy.

[2015-08-04 15:53] vasily-kirichenko commented on #1049
It does not help.
I revert rootsuffix to Exp and the extension was appear, but colors everywhere in VS was broken, so I deleted `c:\Users\kot\AppData\Local\Microsoft\VisualStudio\14.0Exp` folder entirely and Ctrl+F5 again. No VFPT :(

Could you remove that folder and try to repeat this behavior?

[2015-08-04 17:30] dungpa commented on #1049
I confirm that removing that folder and Ctrl + F5, VFPT isn't installed.

When I increase VFPT version and run F5, VFPT is installed to Experimental instance again.

[2015-08-04 18:51] xperiandri commented on #1049
1. Does resetting settings to details by importing default for you, possibly F# default, help?
2. Doing rebuild usually helps for me to force extensions deploy to experimental instance.
3. Check deployment path

[2015-08-04 20:18] jackfoxy opened #1067 "navigation bar in signature file empty"
nothing in navigation bar of signature files
I'm on Win10, VS2015, but I'm pretty sure this is also a problem under 8.1, VS2013

[2015-08-04 20:39] vasily-kirichenko commented on #1067
Navigation bar is a part of Visual F# Tools, we just turn it on in devenv.exe.config
Please, report the issue in VFT repository.

[2015-08-04 20:39] #1067 closed

[2015-08-04 20:53] dungpa commented on #1066
@drcrook1 Is there any feature that actually works on your setup? Does this happen on every project you have on VS 2015 CE?

It would be great if you turn on Diagnostic mode http://fsprojects.github.io/VisualFSharpPowerTools/faq.html#What-is-Diagnostic-mode-When-should-I-use-it, play with your projects and give us some information from `Output Window -> F# Power Tools` along with logs from `C:\Use

[2015-08-05 12:19] drcrook1 commented on #1066
1.  Output window does not have option for F# Power Tools, even after working with project.
2.  Sure, I am pasting the contents below...

<?xml version="1.0" encoding="utf-16"?>
<?xml-stylesheet type="text/xsl" href="ActivityLog.xsl"?>
<activity>
  <entry>
    <record>1</record>
    <time>2015/07/29 12:22:55.130</time>
    <type>Information</type>
    <source>VisualStudio</source>
    <description

[2015-08-05 12:26] drcrook1 commented on #1066
No features appear to work, and also see the last section of the xml.  Looks like "Power Tools Command Package" failed to load.

[2015-08-05 12:44] dungpa commented on #1066
The installation model of VS 2015 was changed right before RTM. It causes issues to run the extension on VS 2015 RTM.

Could you remove and reinstall the extension? I think it should work with any fresh installation of the extension.

[2015-08-05 16:25] jackfoxy commented on #1067
Done.
https://github.com/Microsoft/visualfsharp/issues/572

[2015-08-06 11:37] vasily-kirichenko commented on #1049
@dungpa I have issues.

`ISuggestedActionsSourceProvider` and `ISuggestedActionsSource` are defined in `C:\Windows\Microsoft.Net\assembly\GAC_MSIL\Microsoft.VisualStudio.Language.Intellisense\v4.0_14.0.0.0__b03f5f7f11d50a3a\Microsoft.VisualStudio.Language.Intellisense.dll` (VS 2015) only. Logic project references `D:\github\FSharpVSPowerTools\lib\vs2012\Microsoft.VisualStudio.Language.Intellisense

[2015-08-06 13:09] dungpa commented on #1049
We can add VS2015's `Microsoft.VisualStudio.Language.Intellisense.dll` to `lib\vs2015` folder and reference on both projects.

In order to use the new project as a MEF component; it should be added to https://github.com/fsprojects/VisualFSharpPowerTools/blob/7e0ea76fc23be871ce5aebd02272d7feed8447e2/src/FSharpVSPowerTools/source.extension.vsixmanifest#L27.

[2015-08-06 14:35] vasily-kirichenko commented on #1049
I'm afraid I don't understand why we need VS2015 project at all. What could go wrong if we implement `ISuggestedActionsSourceProvider` right in Logic project? VS 2013 will throw?

[2015-08-06 15:02] dungpa commented on #1049
I'm not sure either. I think it should work with both providers on Logic project.

[2015-08-06 15:52] bryanedds opened #1068 "Formatter overly opinionated, enforces intent-clobbering F# style"
Myself and a few others at Jet are adopting an F# coding standard. Unfortunately, the formatter actively works against this standard, even though the standard was specifically designed to be enforceable by just such a tool. Not only are the default settings of the format opinionated such that it fights against this style, there are no options in many cases to align its behavior with said style (or

[2015-08-06 16:03] vasily-kirichenko commented on #1068
Prefix choice bindings with 'chc'.

Hungarian notation?

[2015-08-06 16:13] bryanedds commented on #1068
Probably the most infuriating thing about the code formatter is how it removes new lines (it used to arbitrarily insert them based on control constructs used, but thankfully now that seems gone). For example, it takes nice, coherently commented code like this -

    /// Apply a single refinement to an asset.
    let refineAssetOnce intermediateFileSubpath intermediateDirectory refinementDirectory

[2015-08-06 16:24] bryanedds commented on #1068
Yes, use hungarian notation on bindings that can potentially be null so people will remember to check for it, and use it on options so that when you bind to the actual value of the opt it does not have to shadow the name. These are pretty obvious things.

At any rate, the code formatter in this tool is unusable to me and my team for these reasons.

[2015-08-06 16:50] tpetricek commented on #1068
I agree with pretty much all of the code formatting guidelines that you mentioned in the initial post, especially the spacing. (I do not always use `opt` and I have never used `chc`, but aside from that, I like the rules :-)). That said, I know a number of people who have different opinions on this, so having this available as options that can be configured in VFPT would be ideal.

I never really

[2015-08-06 17:04] vasily-kirichenko commented on #1068
I don't like most of the proposed rules, but it's OK, I've never met two people who has identical code formatting habits.

What we really need is a number of customization points in Fantomas and a nice preview UI in VFPT, like this:

![image](https://cloud.githubusercontent.com/assets/873919/9117915/de184526-3c75-11e5-9593-478b995c4c41.png)

It's clear that this is a lot of work. In this project f

[2015-08-06 17:12] vasily-kirichenko commented on #1049
![image](https://cloud.githubusercontent.com/assets/873919/9118182/687bb3e6-3c77-11e5-9ef2-4048b7f922b3.png)

:)

[2015-08-06 17:21] bryanedds commented on #1068
Okay, I will see if resources can be allocated.

[2015-08-06 17:40] dungpa commented on #1049
Wow. Time to celebrate :+1:.

[2015-08-06 17:48] bryanedds commented on #1068
As such, can someone please assign this issue to me?

[2015-08-06 18:50] xperiandri commented on #1049
Yahoo! I'm happy.
Is it also possible to implement a preview of changes for F#?

[2015-08-06 19:40] vasily-kirichenko commented on #1068
Only maintainers can be assigned to an issue.

[2015-08-06 20:05] bryanedds commented on #1068
Can you assign me maintainership?

[2015-08-06 20:47] vasily-kirichenko commented on #1068
Why? I don't know who are you, sorry.

[2015-08-06 21:04] tpetricek commented on #1068
In practice, I think the only purpose of "assigning" things in GitHub is to keep track of things that someone is actively working on to make sure that no one else starts doing the same thing. So, I think it's perfectly sufficient to have the discussion in the comments here. If someone wants to work on this, they should coordinate with @bryanedds first. I'd consider this assigned :-)

[2015-08-07 10:38] 7sharp9 commented on #1068
It seems to be that the overly opinionated formatting will be replaced with another overly opinionated formatting :-)

Not even msdn has consistent formatting for F# there are  at least three different indent formats used over DU's types and patten matching.  Personally I don't like type prefixes at all, looks like 80s c code...

So, choice in the UI or settings is always a good thing, in XS we ha

[2015-08-07 13:27] drcrook1 commented on #1066
Uninstalling and Reinstalling the extension does the trick!  Thanks!

[2015-08-07 13:27] #1066 closed

[2015-08-07 13:44] tanathos commented on #887
@tgjones I'm successfully using the VSRegistry class from Microsoft.VisualStudio.Shell, like this:

[code]

[2015-08-07 17:49] dsyme commented on #1068
FWIW I agree outright with the following specific

9) Prefer stepped indentation

10) Use Lisp-style bracing instead of C-style.

11) Tab out discriminated union case definitions to keep them lined up with their members.

The formatter seems to apply these rules.  I prefer

[code]
to
[code]
Agreed that the formatter should treat existing blank lines with more respect. I think everyone likes that i

[2015-08-07 18:29] bryanedds commented on #1068
Dave brings up a good thing to look out for - there's little use in exchanging one overly-opinionated formatter with another. The last thing we want is for the formatter to be used as a trojan horse to get someone's pet style into the wider community.

Don, yes, I'm personally quite ambivalent on space after '[', but I had to pick one and go with it.

All, I think the bottom line is that we just n

[2015-08-07 19:12] 7sharp9 commented on #1068
I've never known why pattern matching is not indented but DU's types are?

The Importance here is more polishing on tooling which can only be a good thing.  I wanted the display of formatting for XS too as this is how C# is presented.  Formatting can be quirky in XS due to mono style formatting being different to the default VS style formatting, but I guess we can standardise mirror less for F# ov

[2015-08-07 19:30] bryanedds commented on #1068
As I presume you know, the reason pattern matching isn't indented is so our code doesn't tab out to the next town :)

Also, as you know, DUs are a little different as they need to use tabbing to delimit member function definitions as well as their members. While I think it's syntactically valid to have untabbed DU members along with tabbed member functions, I suppose it is a little more visually h

[2015-08-07 19:31] vasily-kirichenko commented on #1068
I disagree. Current default formatting is good. That said, I forget when I used the feature last time :)

I also don't think formatting should rename anything. 1. It's *formatting* after all 2. Renaming many symbols would take forever 3. It'd better be served by the linter.

[2015-08-07 19:34] bryanedds commented on #1068
vasily - I never said the formatter should rename anything. I was just showing you the stylistic rules some of us are adopting which might be related to the subject at hand.

Sorry if mislead the conversation - that was not at all my intent.

[2015-08-07 19:38] vasily-kirichenko commented on #1068
Ah, I see :) Sorry.

[2015-08-07 19:59] 7sharp9 commented on #1068
I've never indented DU's, having them line up like matches make more sense to me.  Shrug.

[2015-08-07 20:05] 7sharp9 commented on #1068
Bryan, if there are any Jet people who want to improve F# on the XS side please send them over to me!  :-)

[2015-08-07 22:16] dungpa opened #1071 "Add VS unit tests for FSharpLint integration"
Add a few smoke tests for the feature.

At least, they should fail like the formatting tests when external dependencies are no longer compatible with latest FCS.

[2015-08-08 04:27] dbwz8 opened #1072 "XMLDoc comments unusably slow"
When typing ///< it can literally take a minute or two before the comment insertion happens (typically it's more like several seconds). This is long enough to give up, go somewhere else in the file and then all of a sudden have the comment inserted completely at random. Very bad.

[2015-08-08 06:52] vasily-kirichenko commented on #1049
"Resolve unopened namespaces" is done here https://github.com/fsprojects/VisualFSharpPowerTools/pull/1069

[2015-08-08 06:58] vasily-kirichenko commented on #1072
@dungpa We only parse current file here https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Core/XmlDocParser.fs#L141 It should be very fast. So, I suspect we are waiting in Checker queue until Parse and Check, triggered by other features, finishes. No idea what to do with it. /cc @dsyme

[2015-08-08 17:41] hmemcpy commented on #1044
This is also evident from the highlighting:
![image](https://cloud.githubusercontent.com/assets/601206/9151521/58b453e0-3e0d-11e5-861b-271d992c9922.png)

If you remove the `default` keyword, it's highlighted (and renamed) just fine:
![image](https://cloud.githubusercontent.com/assets/601206/9151528/7165bde8-3e0d-11e5-8862-b7b589ede54e.png)

Makes me think symbol usage is not returning correct resu

[2015-08-08 18:19] dungpa commented on #1044
@hmemcpy Yes, FCS gives us wrong data. It's not a new issue actually. See a related one at https://github.com/fsharp/FSharp.Compiler.Service/issues/189

[2015-08-08 21:48] dungpa opened #1073 "Lightbulb still appears when the cursor is out of current word"
The lightbulb is still on after the cursor moves to spaces.

[2015-08-09 01:44] 0x53A commented on #1037
I have the same issue.
We have a solution with about 60 C# Projects, two C++ Projects and two F# Projects.

Without VFSPT, it loads in a few seconds (<10sec).
With VFSPT, it takes in the range of minutes.
(I don't have access to it at the moment, so can't measure it exactly).

What is annoying, is that changing the GIT branch triggers a (partial) solution reload, and waiting minutes after changing

[2015-08-09 05:07] cloudRoutine opened #1075 "VS 2015 Coloring Issues"
### Syntax Highlighting isn't working
![2015-08-09_00-37-37](https://cloud.githubusercontent.com/assets/680051/9153590/de20111a-3e2e-11e5-9c84-432cfdf2a0c8.png)

### `|`  `<` `,` `_` Recognized as Plain Text
![2015-08-09_00-51-39](https://cloud.githubusercontent.com/assets/680051/9153620/4c52a51a-3e31-11e5-93e1-85a63d4d3679.png)
![2015-08-09_00-53-51](https://cloud.githubusercontent.com/assets/680

[2015-08-09 07:40] vasily-kirichenko commented on #1037
Thanks a lot for the investigation. I suspect those three full synchronous GC collects are the problem. Will look at it.

[2015-08-09 07:47] vasily-kirichenko commented on #1037
@dsyme can you recommend a faster way to clean FCS caches (compared to `ClearLanguageServiceRootCachesAndCollectAndFinalizeAllTransients`)?

[2015-08-09 08:09] #1073 closed

[2015-08-09 08:31] vasily-kirichenko commented on #1037
@0x53A Please try this VSIX https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.1.0-a1508090818/artifacts

I replaced `ClearLanguageServiceRootCachesAndCollectAndFinalizeAllTransients` with `InvalidateAll`.

[2015-08-09 08:49] 0x53A commented on #1037
@vasily-kirichenko looks good. In the same test (switching branches) it now doesn't slow down.
Thank you!

[2015-08-09 09:25] vasily-kirichenko commented on #1037
Great :) could you please keep an eye on VS memory consumption? Will it eats RAM indefinitely as you switching branches?

[2015-08-09 09:49] 0x53A commented on #1037
In a short test I couldn't find any leaks.

During the reload, memory spiked shortly (up to 800MB), but it always returned to a stable value (about 500MB) in a matter of seconds. Also, these are probably at least partially related to C# reparsing my files, not only F#.

So there seem to be at least no big leaks.

But I wouldn't expect there to be any, since the Clear only called the GC, which woul

[2015-08-09 10:01] dungpa commented on #1075
@cloudRoutine Would you mind to try the latest build https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.1.0-a1508090831/artifacts?

We fixed the color ordering recently, so this one might go away as well.

[2015-08-09 10:04] vasily-kirichenko commented on #1037
Sounds good, thanks.

[2015-08-09 10:44] vasily-kirichenko commented on #1037
I've tested the fixed addin vs pure VS:

* Pure VS 2013:

load 1:25
reload #1 0:55 (0,65GB)
reload #2 0:55 (0,7GB)
reload #3 0:55 (0,75GB)

* Before the fix:

load 1:30
reload <infinite> (I waited for about 5 minutes for VS unfreezes and gave up)

* After the fix:

load 1:20
reload #1 1:10 (1,6GB)
reload #2 1:15 (1,7GB)
reload #3 1:20 (1,98GB)
reload #4 1:20 (1,89GB)

After four reloads VS starts

[2015-08-09 14:11] vasily-kirichenko opened #1078 "F12 does not work in current master"
![image](https://cloud.githubusercontent.com/assets/873919/9155223/92ff87f2-3eb9-11e5-93fb-757509ed242a.png)

[2015-08-09 16:08] vasily-kirichenko commented on #1049
Implemented in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1079

[2015-08-09 16:08] #1049 closed

[2015-08-09 16:45] cloudRoutine commented on #1075
Awesome, the coloring is working now.

[2015-08-09 16:53] jeroldhaas opened #1080 "Lightbulb for "Value or constructor 'symbol' is not defined" is empty when clicked."
Undefined values or constructor error shows a :bulb: lightbulb, but provides no options when clicked / hotkey is typed.

version 2.0.6

[2015-08-09 17:05] dungpa commented on #1080
@jeroldhaas Can you show a screenshot or a small repro?

[2015-08-09 17:10] dungpa commented on #1075
Thanks.

I think it should work. Maybe quotation background color makes it hard to read?

[2015-08-09 17:10] #1075 closed

[2015-08-09 17:10] jeroldhaas commented on #1080
![lightbulb](https://cloud.githubusercontent.com/assets/835976/9155970/0fad9cf2-3e98-11e5-8805-be403fe1c932.png)

[2015-08-09 17:13] jeroldhaas commented on #1080
I have attempted to restructure the code in various ways to find out if previous lines of code are conflicting with the parser's ability to resolve a proper solution, however I haven't been able to get the lightbulb to work properly with the undefined error.

[2015-08-09 18:00] vasily-kirichenko commented on #1080
will fix it in a minute

[2015-08-09 18:06] vasily-kirichenko commented on #1080
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1081

[2015-08-09 18:06] #1080 closed

[2015-08-09 21:36] dungpa commented on #1078
It works fine for me on VS2013 and VS2015.

Does it fail on every example you tried? Does it fail on both VS2013 and VS2015?

[2015-08-09 23:22] cloudRoutine commented on #1075
![2015-08-09_19-20-59](https://cloud.githubusercontent.com/assets/680051/9157443/cabe5814-3ecb-11e5-989c-210c31a82507.png)

It only works partially, Value types, and F# types seem to be recognized while numerals, operators, strings, patterns, and modules are ignored.

[2015-08-10 04:28] tgjones commented on #887
@tanathos That removes the hardcoded version number - i.e. `HKEY_CURRENT_USER\Software\Microsoft\VisualStudio\14.0` - which is nice, but you still need to split the string, in VS2015, to get to the GUID, as far as I can see.

[2015-08-10 05:06] #1071 closed

[2015-08-10 07:06] vasily-kirichenko commented on #1078
It works on another machine.

[2015-08-10 07:06] #1078 closed

[2015-08-10 09:06] tanathos commented on #887
@tgjones yeah, the manual parsing of the value is still needed

[2015-08-11 05:24] #1050 closed

[2015-08-11 06:39] dungpa commented on #987
This has been fixed by #1069 and #1079.

@isaacabraham It would be great if you help us check how the light bulbs work on your scenarios: https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.1.0-a1508110519. Thanks.

[2015-08-11 06:39] #987 closed

[2015-08-11 06:40] dungpa commented on #1049
@xperiandri Could you please install this build https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.1.0-a1508110519 and give us feedback on the new lightbulb functionalities? Thanks.

[2015-08-11 07:24] isaacabraham commented on #987
Sure, I'll test later today

[2015-08-11 07:29] ashtonkj commented on #987
I'll test too and let you know if I find any issues.

On Tue, Aug 11, 2015 at 9:24 AM, Isaac Abraham <notifications@github.com>
wrote:

[2015-08-11 07:35] dungpa commented on #987
Great. Thanks both.

[2015-08-11 07:47] ashtonkj commented on #987
Tested on VS 2015 (in script file):

Generate Open statements - success
Generate Record Stubs - success
Generate DU Cases - success
Generate Interface Methods - success

Looks good to me so far.

On Tue, Aug 11, 2015 at 9:35 AM, Anh-Dung Phan <notifications@github.com>
wrote:

[2015-08-11 09:47] bentayloruk commented on #1050
Thank you @dungpa!  Your amazing work is very much appreciated by me! :tada:

[2015-08-11 13:20] vasily-kirichenko commented on #1037
I think we cannot do anything else with this.

[2015-08-11 13:20] #1037 closed

[2015-08-11 13:35] isaacabraham commented on #987
Yeah, seems to work here too! Awesome.

[2015-08-11 13:39] vasily-kirichenko commented on #987
Thanks, guys! :)

[2015-08-11 15:43] xperiandri commented on #1049
Light bulb works well

However "Resolve unopened namespaces" works not as expected

I got
[code]

So I commented
[code]

But suggestion appear only for
[code]
And it must not appear for a type provider.

But as I understand it is a problem of class resolution logic.

[2015-08-13 14:09] dungpa commented on #1049
@xperiandri We don't have assembly metadata for erased type providers. So it's a limitation that unfortunately we can't bypass.

[2015-08-13 14:11] dungpa commented on #1072
@dbwz8 How big is the file that you observe the slow down? Does this happen right after opening a Visual Studio session (i.e. in the low traffic scenario)?

[2015-08-13 14:29] xperiandri commented on #1049
OK, but anyway a type declared from TypeProvider is a type.
So it can be found, can't it?

[2015-08-13 18:27] dbwz8 commented on #1072
Here’s what we see:

1.    VS Just opened on a single small file… instantaneous

2.    VS Just opened with lots of tabs on a small file… instantaneous

3.    VS Just opened on a large file (3000 lines)… 10 seconds

4.    Doing the small file after the big file…. 5 seconds

5.    Doing the large file again… 20 seconds

It definitely gets worse the longer you’re in VS, however sometimes it’s instant

[2015-08-14 14:20] isamuelson commented on #1068
@7sharp9 email me at ido@jet.com

[2015-08-14 14:41] bryanedds commented on #1068
BTW - I have yet to follow up about getting said resources; I'm currently utilizing all of my political capital to get an existing project up and running. Should be able to propagate said request next week.

[2015-08-14 21:32] jeroldhaas opened #1085 "Auto-generated XML doc mis-appropriates functor as param when using declaration with signature (Haskell-style?)"
Example Code (`|` shown where editor caret is placed):
[code]

However, when written in less uncommon (normal?) style, it works properly:
[code]

Resulting intellisense hints:
![image](https://cloud.githubusercontent.com/assets/835976/9284825/595df7ac-42ad-11e5-926b-9304f92a2112.png)

...then, after attempting to enter 2nd param (even trying `Ctl-Shift-Space`:
![image](https://cloud.githubusercont

[2015-08-15 06:39] vasily-kirichenko commented on #1085
The first thing is a value of type `int -> int -> int list`, the second is a function. The only thing VFPT does wrong is trying to deduce *any* arguments from the value.

[2015-08-17 14:43] isaacabraham opened #1086 "Lightweight interface implementation"
Currently if you have VFPT implement an interface, you get a fully-typed, verbose implementation e.g.

[code]

I will almost always simplify the above to: -

[code]

I know that might not be everyone's cup of tea, but an option to have this would be nice. Even a halfway house that didn't use fully-qualified namespaces but added open statements would be good.

[2015-08-17 16:41] dungpa commented on #1086
Nice idea.

AFAIR we chose to add type annotations because type inference on interfaces is too brittle. The type checker can't distinguish between overloads without complete type annotations.

It occurs really often with interfaces from BCL. You can try removing annotations from interface implementation of those inherited from `ICollection` & `ICollection<'T>` or `IEnumerable` & `IEnumerable<'T>`

[2015-08-17 16:58] dsyme commented on #1086
How about giving the annotation-free version if no overloads are involved (or if overloading is only by argument count)? For those cases the inference is robust.

Or offer two options - one annotated and one not?

[2015-08-17 17:24] isaacabraham commented on #1086
I think having both options is preferable - can be shown as two options in the light bulb help.

[2015-08-17 17:39] isaacabraham commented on #1055
Is this on VS2013 or VS2015? F#3.x has a bug whereby if you have the same module declared in multiple files, you need to load files as separate execution steps rather than in one go.

I'm wondering if this is a similar sort of issue.

[2015-08-17 18:27] dungpa commented on #1086
I think both approaches make great improvement here.

I don't have time to implement this. But it's a localized change, that is suitable for community contribution.

Here is how it can be done:

 - Add a boolean argument to `formatInterface` https://github.com/fsprojects/VisualFSharpPowerTools/blob/e736aa38668d182696b04dd2f6e6dd637b2515f1/src/FSharpVSPowerTools.Core/InterfaceStubGenerator.fs#L481

[2015-08-17 19:44] isaacabraham commented on #1086
I could give it a bash :-) Do you give out F# cups as well for first-time contributions? :-)

[2015-08-17 20:10] EdAyers opened #1087 "Crucial space omitted by formatter when accessing record members"
[code]
Hitting Format-Document (Ctrl-K, Ctrl-D) in VS2015 causes the above code to look like;

[code]
note how `f x` has become `fx` leading to a build error.

[2015-08-17 20:17] dungpa commented on #1086
Good idea. If only I knew how to make those cool cups :-).

(Let me know if you need any assistance in implementing this.)

[2015-08-17 20:19] dungpa commented on #1087
I think we have fixed a similar bug recently. Could you please check the recent v2.0.7 build https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.1.0-a1508110519/artifacts? Thanks.

[2015-08-17 20:23] EdAyers commented on #1087
Yep, it's fixed on the above build

[2015-08-17 20:39] dungpa commented on #1087
Thank you. I'm closing this as fixed.

[2015-08-17 20:39] #1087 closed

[2015-08-17 20:48] isaacabraham commented on #1086
@dungpa: I will :-) WIP as of now.

[2015-08-17 21:48] isaacabraham commented on #1086
- [x] Get things building locally
- [x] Get arguments to show without types
- [ ] Hide return type
- [ ] Stub implementation on same line
- [ ] Hide newline
- [ ] Show second suggestion in lightbulb

[2015-08-17 22:36] isaacabraham commented on #1086
What should we do if the user selects the lightweight syntax on a type that won't compile under these circumstances e.g. ```System.Collections.IDictionary```?

1. Do nothing - they can fix it manually.
2. Be extra smart and choose explicit types just for those members (how do we determine this?)
3. Don't show lightweight implementations (ditto).

[2015-08-17 23:06] isaacabraham commented on #1086
This is what the non-verbose version of e.g. IDictionary looks like. Obviously this code doesn't work (precisely because of the reason originally mentioned) - still looks reasonably clean though.

![inprogress](https://cloud.githubusercontent.com/assets/1781813/9318568/9da4517c-453c-11e5-8447-0e5a29db5c93.png)

[2015-08-18 04:28] dungpa commented on #1086
Looks good.

I think 2nd option (choosing explicit types for those members) is a good tradeoff. It's actually a small change from what you got.

 - We already sorted members by names https://github.com/fsprojects/VisualFSharpPowerTools/blob/e736aa38668d182696b04dd2f6e6dd637b2515f1/src/FSharpVSPowerTools.Core/InterfaceStubGenerator.fs#L550-L553
 - For any pair of consecutive members in the sorted o

[2015-08-18 23:56] Rickasaurus opened #1088 "Rename functionality does not update XML docs"
This would really be nice to have.

[2015-08-19 02:21] bleis-tift opened #1089 "Quick info panel shows wrong namespace"
repro steps:

1. create solution
1. add `Sample.Core` project
1. add referece to `Sample.Core`
1. build
1. add `open Sample.Core`
1. Quick info panel shows wrong namespace (expected `Sample.Core` but `Microsoft.FSharp.Core`)

note: tooltip shows correct namespace.

![image](https://cloud.githubusercontent.com/assets/169348/9347393/eb2c29a6-4663-11e5-9d0b-a2ff6c9d3a3d.png)

[2015-08-19 05:04] vasily-kirichenko commented on #1089
What does tooltip show?

[2015-08-19 07:38] dungpa commented on #1089
It's very likely that we don't pass enough contextual info to FCS. They may expect long identifiers but we pass short identifier at https://github.com/fsprojects/VisualFSharpPowerTools/blob/e736aa38668d182696b04dd2f6e6dd637b2515f1/src/FSharpVSPowerTools.Logic/QuickInfoMargin.fs#L101.

We may have `Sample.Core` in the tooltip results, but it could be truncated before displaying in QuickInfo panel.

[2015-08-19 07:49] vasily-kirichenko commented on #1089
It seems it works ok for me:

![image](https://cloud.githubusercontent.com/assets/873919/9351162/d4005120-465f-11e5-9091-0d1c097b8a93.png)

Try to rebuild the solution and reopen VS.

[2015-08-19 10:34] dungpa commented on #1089
I can repro following the steps above.

(Sent Vasily a repro solution by email.)

[2015-08-19 11:20] exercitusvir commented on #1055
This is on VS 2013 with F# 3.1.

[2015-08-19 23:47] isaacabraham opened #1090 "load-references does not auto-regenerate in VS2015"
Manually calling "Generate references for F# Interactive" works fine - it just doesn't happen on building solutions any more.

[2015-08-21 17:43] dungpa commented on #1086
@isaacabraham How is it going with ImplementInterface enhancement?

[2015-08-21 18:24] isaacabraham commented on #1086
I haven't had a chance to do that much more on it. You can see the code that I've committed in my fork - I think that there's still a bit of work to do with indexers, and I'm seeing some wrong behaviour when implementing interfaces as an object expression (the braces don't align).

[2015-08-21 23:14] isaacabraham commented on #1086
Looks like it's not enough to add annotations to latter members; all of them need it. IDictionary is a good example: -

[code]

compiles but

[code]

doesn't.

[2015-08-21 23:20] dungpa commented on #1086
Yes, you're right. We need type annotations for all overloads with same argument counts.

We haven't ever tried to align braces. I don't think they're really important though.

[2015-08-21 23:23] isaacabraham commented on #1086
OK re: braces - just don't want there to be any breaking changes / regressions.

[2015-08-22 22:42] devboy opened #1093 "Generated references could use forward slashes as path seperators"
When generating references for FSI:

[code]

Backslashes don't work on non-windows platforms, whereas Windows can handle forward slashes.
Would like to be able to use the generated files on OSX without manually replacing the slashes ;)

[2015-08-22 22:59] dungpa commented on #1093
Oh, I have never thought of that.

Do you want to send a PR? Handling relative path is done at https://github.com/fsprojects/VisualFSharpPowerTools/blob/e736aa38668d182696b04dd2f6e6dd637b2515f1/src/FSharpVSPowerTools.Logic/FsiReferenceCommand.fs#L69-L77

[2015-08-23 05:57] vasily-kirichenko commented on #1090
I confirm it does not auto update in VS 2013 either (on master).

[2015-08-23 09:58] #1086 closed

[2015-08-23 10:36] dungpa commented on #1090
Weird. It used to work at one point. I wonder what have changed inside VS.

Does auto-update of syntax coloring work any longer https://github.com/fsprojects/VisualFSharpPowerTools/blob/f0b2ac7a5261ebc7ee2f3b5d3e68ca1004365948/src/FSharpVSPowerTools.Logic/SyntaxConstructClassifier.fs#L345-L354?

[2015-08-23 10:45] dungpa opened #1094 "Complete FSharpLint integration"
There are only two remaining things to finish:

 - Add UI for changing Lint settings
 - Add docs for FSharpLint integration

[2015-08-23 10:47] dungpa commented on #1094
@duckmatt When you have a prototype UI for changing FSharpLint settings, please send a PR. We could help a bit in order to complete the feature.

[2015-08-23 11:05] vasily-kirichenko opened #1095 "Master is not compiled in VS 2013"
![image](https://cloud.githubusercontent.com/assets/873919/9427956/ed0b7e9a-499f-11e5-8827-0ec2bfc91025.png)

[2015-08-23 11:07] vasily-kirichenko commented on #1095
Fixed via https://github.com/fsprojects/VisualFSharpPowerTools/commit/c474ac16df14d04b820f8296d83a47439867ca4a

[2015-08-23 11:07] #1095 closed

[2015-08-23 11:13] vasily-kirichenko commented on #1090
Checked it on master on a tiny solution in VS 2013. Works OK. Strange. I'm absolutely sure it did not work on my solution at work and I constantly had to execute the command manually.

[2015-08-24 00:00] duckmatt commented on #1094
Okay great, I've got a fully functioning UI for the options now, looking at hooking it up to the new configuration management I've been adding to FSharpLint. I'll get a work in progress pull request together

[2015-08-24 12:51] theor commented on #1059
Did some profiling: http://i.imgur.com/8yeYBx4.png Full dottrace here : https://drive.google.com/file/d/0B8m8OpReqlmHQVdXSFZWZElTUGM/view?usp=sharing

So in my case, definitely the Resolve namespaces feature.

[2015-08-24 19:28] #1085 closed

[2015-08-27 09:14] devboy commented on #1093
Will try to find the time ;)

[2015-08-27 10:19] vasily-kirichenko commented on #1093
Hurry up, I've almost picked this one :)

[2015-08-27 10:25] devboy commented on #1093
Please, go ahead. This week is quite tight for me ;)

[2015-08-27 10:46] vasily-kirichenko commented on #1093
Same ;)

[2015-08-27 18:10] dungpa commented on #1093
I would prefer that @devboy PRs and @vasily-kirichenko reviews  the code (and I'm cheerleading).

The more contributors there are, the merrier the project is :-).

[2015-08-31 12:53] torbonde opened #1102 "Parenthesized expression formatting"
Consider the following code
[code]
When formatting this (using Ctrl-K Ctrl-D, for instance), the space in the parenthesized expression gets stripped. I.e. the result of formatting is
[code]

[2015-08-31 13:00] dungpa commented on #1102
I think I have fixed it on master recently. Could you please check https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/artifacts?

[2015-08-31 13:10] torbonde commented on #1102
It appears to be working! Thanks.:)

[2015-08-31 13:10] #1102 closed

[2015-09-02 16:38] #1093 closed

[2015-09-02 16:39] vasily-kirichenko commented on #1036
Implemented in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1100

[2015-09-02 16:39] #1036 closed

[2015-09-04 05:20] larsw commented on #583
Hi,

 Experienced the same error today with the latest release that has been released to the Visual Studio Gallery + Visual Studio 2015.

[2015-09-04 05:25] dungpa commented on #583
@larsw Is this on Windows 10?

I heard that some users had to reinstall the extension on Administrator mode to make it work on Windows 10. https://twitter.com/adamchester/status/634338461537832960 . Not sure why...

[2015-09-04 05:43] larsw commented on #583
Yes, Win10 - thanks for the advice, I'll try later.

[2015-09-04 11:17] vasily-kirichenko opened #1104 "Smart string breaking"
![1](https://cloud.githubusercontent.com/assets/873919/9682445/68a1b8d0-530f-11e5-9655-29b855f976e5.gif)

Lexer should be enough for this, so it'd work blazing fast.

[2015-09-04 11:24] dungpa commented on #1104
Look cool. But what's the use case for this?

I wonder whether Scala has something similar to F#'s triple-quote strings. It seems like triple-quote strings should be used instead of concatenating string literals.

[2015-09-04 11:36] vasily-kirichenko commented on #1104
Well, Scala has triple-quoted strings as well :)

![1](https://cloud.githubusercontent.com/assets/873919/9682756/4a260408-5312-11e5-97c4-2e6316f64755.gif)

[2015-09-04 12:43] dungpa commented on #1104
Again, I don't understand when users need this (other than being cool :D).

[2015-09-05 17:07] vasily-kirichenko opened #1105 "Move `ResolveUnopenedNamespaceTagger.updateAtCaretPosition` to ThreadPool"
![pasted image at 2015_09_05 19_34](https://cloud.githubusercontent.com/assets/873919/9700396/b5a9f976-5409-11e5-88c5-09121adf539f.png)

[2015-09-05 19:05] dungpa commented on #1105
Interesting. How does dotTrace know this is a UI freeze?

From the screenshot, nothing gets run on the main thread. It seems like GC happens here. What can we do about this?

[2015-09-05 19:13] vasily-kirichenko commented on #1105
Yep, it's GC :( FCS produces objects like crazy:

![pasted image at 2015_09_05 21_30](https://cloud.githubusercontent.com/assets/873919/9700837/377f9de6-541b-11e5-936a-65a586e9c09b.png)

Anyway, I moved all `updateAtCaretPosition` functions to ThreadPool here  https://github.com/fsprojects/VisualFSharpPowerTools/pull/1106

[2015-09-05 19:13] #1105 closed

[2015-09-05 19:13] vasily-kirichenko commented on #1105
I think it's the compiler itself who creates so many objects. No hope to remove UI freezes :(

[2015-09-05 22:37] dungpa commented on #1105
Unless we fix the issues in FCS :-) /cc @dsyme

[2015-09-06 08:13] dungpa opened #1107 "VS unit tests fail on master"
After #1106, getting cursor positions moves to ThreadPool.

Setting cursor position might occur after the first TagChanged event, therefore, test assertions fail.

These unit tests need to be updated.

[2015-09-06 09:43] vasily-kirichenko commented on #1107
I've read it 10 times and still don't understand :) Could you point at problematic code?

[2015-09-06 10:21] dungpa commented on #1107
The code is fine. The test infrastructure is problematic.

`DocumentEventListener` always invokes `updateCursorPosition` when a tagger is created. Before we check cursor positions on UI thread so the checks often occur after we set cursor positions on VS unit tests. Now, getting cursor positions and setting them are asynchronous, their order is non-deterministic.

I changed the unit tests to alway

[2015-09-06 11:17] #1107 closed

[2015-09-06 17:56] #1090 closed

[2015-09-08 10:20] dsyme commented on #1105
Certainly, the compiler and FCS allocates, and always will - it can't do its work without that.

One question which I'd like expert help with is why those allocations are leading to Gen2 collections (which I presume are the intense bands shown above), and why those collections are stopping the world for such long times (which I presume depends partly on the GC settings being used by VS - but I wou

[2015-09-08 10:25] vasily-kirichenko commented on #1105
My guess: gen2 is full with FCS caches data, that's why collecting it is so expensive. I will try to get VS snapshot and look at get2.

[2015-09-08 11:41] dsyme commented on #1105
Yes, definitely.  Reducing the amount of caching (strong and/or weak) you do will certainly improve things (at the cost of non-trivial recomputation).

But I still wonder if there's a root cause why the majority of Gen2's are being triggered (other than overall memory pressure)

[2015-09-08 11:56] vasily-kirichenko commented on #1105
I believe it's FCS caches, not VFPT. We cache very few and very simple (no complex object graphs) data actually. FCS, on the other hand, caches complex structures that come right from inside the compiler code. Maybe I'm wrong.

I think it was memory pressure since it was FCS solution open, with which VS has performance issues even with VFPT disabled. VS had not frozen for some small time (~1 minut

[2015-09-08 12:01] dsyme commented on #1105
Right, but [you set the parameters for FCS cache sizes](https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Core/LanguageService.fs#L173), you can adjust those - doing so should help control overall memory usage (at the cost of recomputation).  Also it is possible to submit modifications to FCS to change the configurability and/or operation of the caches.

[2015-09-08 12:08] vasily-kirichenko commented on #1105
Yes, but in FCS solution case those settings do not help (because the solution contains very few projects and one of them is huge).

So I think we should change type of the cached data itself, but it's problematic since we tend to traverse it deeply. Maybe making more stuff `lazy` would help?

[2015-09-08 16:03] dsyme commented on #1105
I see, thanks. One approach here would be to move FCS out of process to a 64-bit process, allowing it to use more memory (on >4GB machines, which are common now).  But moving FCS out of process is really not easy since a number of different kinds of references tend to be kept live by tooling like VFPT.

Perhaps someone could experiment with what it would take to build VFPT on top of FsAutoComplete

[2015-09-08 17:03] vasily-kirichenko commented on #1105
I like the idea of external x64 process very much. I'll explore FsAutoComplete, thanks (I didn't know it can do more than just providing auto-completion).

However, one thing is problematic. As Visual F# Tools uses in-process FCS analog, extracting FCS out of VFPT would not solve the problem entirely - it'd cut memory usage by factor of 2 (or better as VFPT does cross project analysis).

[2015-09-09 00:41] jasonmalinowski commented on #1053
@dungpa: following back up, I chatted with a developer from the editor team to understand how we might have had a case where changing some options might work but not others. He described the algorithm as such:

1. get all the classifications for a span of text, in priority order
2. get the format definition for each one. Each format definition can specify just color, weight, or both.
3. for each f

[2015-09-09 15:09] enricosada commented on #603
@vasily-kirichenko i got the same problem building another project.
the HadErrors property was added in powershell v3 (system.manangement.automation).
I installed powershell 3 and after that the project works, now visual studio resolve the reference using the 3.0.0.0 assembly instead  of v 1.0.0.0.

Maybe is better to write it as 3.0.0.0 in the csproj, at least can know i dont have the correct ass

[2015-09-09 17:58] dungpa commented on #603
@enricosada Sure. Please do so.

[2015-09-09 18:26] dungpa commented on #1053
@jasonmalinowski Thanks for the follow up. Your explanation makes perfect sense in the context of this bug.

[2015-09-10 09:11] cloudRoutine opened #1112 "Code Quotations are not recognized in pattern matches"
Seems like it's only failing on the left side of the match

![](http://i.imgur.com/2RX94xi.png)

[2015-09-10 14:30] vasily-kirichenko commented on #1112
We need to add more cases into this match
https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Core/UntypedAstUtils.fs#L376

[2015-09-10 15:51] isaacabraham opened #1113 "Are all fonts + colours exported correctly in settings?"
I've been testing out the Export Settings feature of VS. I exported all fonts and colours, and located the FSharp settings in there. Here's one: -

[code]
However, in VS for "F# Functions / Methods", I have RGB of 63,213,250 which is ```3FFAD5``` - which seems to suggest that the settings are being exported as GBR rather than RGB - is this supposed to be?

[2015-09-10 20:24] vasily-kirichenko commented on #1112
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/issues/1112

[2015-09-10 20:24] #1112 closed

[2015-09-10 21:37] cloudRoutine commented on #1112
You sure it's fixed?
I downloaded the artifact off of  [the appveyor build for PR#1114](https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.1.0-a1509102028/artifacts)

but it still looks like
![](http://i.imgur.com/dQVvcdD.png)

[2015-09-10 21:54] cloudRoutine commented on #1112
here's the code if you want to test against it
[code]

[2015-09-11 14:11] vasily-kirichenko commented on #1112
Fixed. Check out the latest build.

![image](https://cloud.githubusercontent.com/assets/873919/9816843/16ca6428-58a8-11e5-91f8-6451ff22d1a9.png)

[2015-09-12 22:20] dungpa commented on #366
@matthid My apologies for answering way too late (Well, it has been more than a year).

I did multiple tries to fix this bug in the past but fail. At one point, I believed that the AST lacked relevant information to preserve parentheses. I figured out a non-intrusive way to fix the bug today.

The bug has been fixed in https://github.com/dungpa/fantomas/pull/177 and the fix flows to VFPT at https:

[2015-09-12 23:00] matthid commented on #366
No need to be sorry. I'm glad this will be fixed now :+1:
I remember this issue was one of the blockers for me to use "Format Code on Save" with F# (which is a good way to find such bugs apparently). So maybe with 2.1.0 its time to try again :)

[2015-09-15 18:07] jtmueller opened #1116 ""Find all references" missing in VS 2015"
I have "Find all references" checked in the options, but it does not appear on the context menu when I right-click an identifier, and Shift-F12 does nothing. It works fine in VS 2013 on the same machine. Am I missing something?

[2015-09-15 20:55] dungpa commented on #1116
Find all references still works fine for me.

Does Shift-F12 still work fine on C# projects? Do you have any VS extension that possibly occupies Shift-F12 key binding?

[2015-09-15 20:57] dungpa commented on #1113
Not sure what we can do here. Exporting settings is handled by VS.

Could you check how built-in colors are exported? For example, changing Identifier or String colors and inspect them after exporting settings.

[2015-09-17 23:47] jtmueller commented on #1116
Yes, Find all References works in C# projects (unless of course the reference is in an F# project). I don't have any VS extension that would take over the key binding. In particular, Resharper is not installed. In addition, even if the key binding were overwritten, I don't think that would cause the Find All References menu item to vanish from the context menu.

My co-workers all have the same iss

[2015-09-18 22:34] #366 closed

[2015-09-20 16:26] yever commented on #961
I can't reproduce the non-alignment bug on my machine, but I do notice that the vertical lines are sometimes cut across (horizontally). This occurs also in @frankshearar's screenshot (you have to really zoom in to see it), between the first two lines, then after the "async" line and finally, after the second blank line. These cuts occur randomly, and seemingly regardless of blank lines.

Here's an

[2015-09-20 16:47] yever commented on #1032
I ran some tests, and the same seems to apply to any identifier enclosed in double backticks that begins with an underscore (\`\`\_bla\`\`), but not if it happens to have an underscore anywhere else (\`\`bla\_\`\` or \`\`bla\_bla\`\`).

[2015-09-20 17:48] yever commented on #1032
Interestingly, a member with such a name does get highlighted:

![image](https://cloud.githubusercontent.com/assets/10565807/9982092/7f5501cc-5fd0-11e5-9e08-3eb080db9047.png)

[2015-09-20 21:48] dungpa commented on #1116
I don't have a clue either.

Could you please try as follows:

1. Turn on Diagnostics Mode as per http://fsprojects.github.io/VisualFSharpPowerTools/faq.html#What-is-Diagnostic-mode-When-should-I-use-it

2. Press Shift F12 on an identifier and check whether there is any output in `Output Window --> F# Power Tools tab`

3. Check whether there is any `F# Power Tools` entry in `C:\Users<user name>\Ap

[2015-09-20 22:14] dungpa commented on #961
@yever I no longer reproduce the original bug either. Feel free to send a pull request fixing the horizontal cuts there.

[2015-09-21 00:23] yever commented on #961
I found it!

[This line](https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/DepthAdornmentManager.fs#L44) defines an "adornmentHeightFudgeFactor" which is set to 0.0, but as the comment above it goes:
[code]
Well, increasing it does the trick. I played around with it, and 0.2 seems to be the smallest number that makes the gap disappear even in 400% zoom (

[2015-09-21 16:59] jtmueller commented on #1116
2. No "F# Power Tools" option in the Output window.

3. I think the following is probably relevant:

[code]

And then, further, down, there is the following, which implies that maybe I need an assembly binding redirect for Visual Studio itself?

[code]

Likewise with this:

[code]

4. Command "Edit.FindAllReferences" is not available.

5. Find All Reference is not an option in a newly-created F# p

[2015-09-21 17:27] jtmueller commented on #1116
Because I knew you were going to ask, I found a copy of FSharp.Core 4.3.0.0 on my machine, and installed it into the GAC. Things are still not working, but I'm getting a different set of error messages in ActivityLog.xml.

[code]

Also possibly relevant:

[code]

[2015-09-21 17:46] dungpa commented on #1116
I kind of get what's going on.

Could you try the following:

1. Uninstall the extension
2. Reinstall the latest version (v2.0.0) using an Administrator account.

Possible explanations:

1. Windows UAC causes installation of the extension silently fail.
2. In VS 2015 RTM, Visual F# is no longer on default installation. So the extension may initialize before Visual F# is ready; which causes initial

[2015-09-21 17:53] jtmueller commented on #1116
That fixed it! So to sum up, FSharp.Core 4.3.0.0 was not in the GAC, so I had to manually add it to the GAC, then uninstall, restart VS, and reinstall the F# Power Tools extension, being sure that VS is running as Administrator during the reinstall.

Thanks for the help.

[2015-09-21 18:01] dungpa commented on #1116
My pleasure :-). Missing FSharp.Core 4.3.0.0 is due to cascaded failures. It's no harm to put it into GAC though.

[2015-09-21 18:01] #1116 closed

[2015-09-21 18:45] yever commented on #1032
Just for the record, the problem is apparently in [FSharp.Compiler.Service](https://github.com/fsharp/FSharp.Compiler.Service).

[2015-09-22 17:09] isaacabraham opened #1119 "BCL.Async causes "Internal language services have encountered some errors" message."
Steps to repro: -

1. Create a new F# Class Library.
2. Add NuGet references to ```Microsoft.Bcl.Async```. This has the effect of also bringing down ```Microsoft.Bcl``` and ```Microsoft.Bcl.Build```. I upgraded all to their latest versions (```1.0.168```, ```1.1.10``` and ```1.0.21``` respectively).
3. Use VFPT to generate ```load-references.fsx```.
4. Open the default ```Script.fsx``` and clear a

[2015-09-22 22:11] jackfoxy opened #1120 "Go To Definition from signature file"
Go To Definition bypasses the signature file definition and goes to the function or value definition in the underlying code file, which I agree is a good solution.

If you are in the signature file, however, and select Go To Definition for some item defined there, it stays in that file and does not take you to the underlying definition.

[2015-09-22 23:24] OkayX6 opened #1121 "Add folder has different behavior for ASP.NET projects"
Hey guys,

It may be an upstream bug and thus won't fixable, but, putting it here to track it.

We cannot create a folder in the root directory of the project, only **ASP folders**:
![image](https://cloud.githubusercontent.com/assets/1169339/10034525/9b03839a-6191-11e5-9721-9b416cabbd90.png)

It is however possible to create one **within** a folder:
![image](https://cloud.githubusercontent.com/ass

[2015-09-22 23:29] OkayX6 commented on #1121
Arghhh sorry my fault, I was confused: I didn't activated the option in my VS 2015 :)))

![image](https://cloud.githubusercontent.com/assets/1169339/10034635/96688f46-6192-11e5-9b21-4e13a92b7741.png)

[2015-09-22 23:33] #1121 closed

[2015-09-24 18:35] cloudRoutine opened #1122 "[Coloring] Add Punctuation category"
[Based on Build 2.1.0-a1509210048](https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.1.0-a1509210048)
#### Angle brackets

![](http://i.imgur.com/GvVRa2c.png)
#### Comma

![](http://i.imgur.com/jnOwE6J.png)
#### Period

![](http://i.imgur.com/ib2JwJ0.png)
#### Bar

![](http://i.imgur.com/JYpt9bM.png)
#### Paren

![](http://i.imgur.com/By1szv8.png)
#### Colon

![](http://i.imgur

[2015-09-24 18:40] vasily-kirichenko commented on #1122
I cannot see what are the problems with all these cases.

[2015-09-26 15:46] #961 closed

[2015-09-26 15:53] dungpa commented on #1120
Hi Jack,

If the signature file is present, Go To Definition is handled by Visual F# Tools. I think it is by design that Go To Definition on signature files stays in the files.

There is a relevant UserVoice entry to vote for http://vfpt.uservoice.com/forums/247560-general/suggestions/6920300-go-to-implementation-command-to-go-from-fsi-to-f

If you would like to change the default behaviour of Go

[2015-09-26 15:54] #1120 closed

[2015-09-26 15:56] dungpa commented on #1122
I don't think there is any bug here. You could get `Delimiter` tokens https://github.com/fsharp/FSharp.Compiler.Service/blob/87798dc4b93fb7f813260bdf70120c94a0ec175c/src/fsharp/vs/ServiceLexing.fs#L125 and plug them into `Punctuation` category :-).

[2015-09-26 16:00] vasily-kirichenko commented on #1122
We discussed it with @cloudRoutine and he is going to make a PR with the exactly same solution you suggest :)

[2015-09-26 17:43] dungpa commented on #1005
There's nothing to do here. Please open an issue if you find any concrete problem.

[2015-09-26 17:43] #1005 closed

[2015-09-30 13:46] #1104 closed

[2015-09-30 13:47] #1033 closed

[2015-09-30 13:49] vasily-kirichenko commented on #898
Nobody is going to investigate it.

[2015-09-30 13:49] #898 closed

[2015-09-30 13:52] vasily-kirichenko commented on #299
@forki is it still actual for you? If it's not, I'll close it since nobody else seems to use NCrunch with VFPT.

[2015-09-30 13:53] #299 closed

[2015-09-30 14:06] isaacabraham commented on #898
Seems to be fine in VS2015 anyway.

[2015-09-30 14:08] vasily-kirichenko commented on #898
@isaacabraham great :)

[2015-09-30 14:41] OkayX6 opened #1124 "Open namespace/module and fully-qualified name?"
Hey guys,

I noticed something lately.
Let's say ``User`` is defined in ``Namespace.ModuleB``, and my cursor is located at **$**

[code]

Then I am suggested to add ``open ModuleB`` instead of ``open Namespace.ModuleB``.
Shouldn't we prefer to use the fully qualified name by default, so as to avoid potential ambiguities?

[2015-09-30 15:10] OkayX6 opened #1125 "Open namespace for operators"
We could be suggested to open the namespace/module where the custom operators I am using are defined:

![image](https://cloud.githubusercontent.com/assets/1169339/10197033/0e6e288a-6796-11e5-9506-6b932f3e9af0.png)

[2015-09-30 15:17] OkayX6 opened #1126 "Function type alias is not colored"
At definition:
![image](https://cloud.githubusercontent.com/assets/1169339/10197287/17016dc6-6797-11e5-93ca-51ee4344f6c3.png)

At usage:
![image](https://cloud.githubusercontent.com/assets/1169339/10197304/2aba3dfc-6797-11e5-9c51-9a0beb1df413.png)

[2015-09-30 15:22] vasily-kirichenko commented on #1126
Is it colored as function?

[2015-09-30 15:24] daxfohl opened #1127 "Docs should note helpful commands/hotkeys"
In particular, I found the generate-stubs feature difficult to use, not realizing there was a command `View.ShowSmartTag` (by default mapped to hotkeys <kbd>Shift+Alt+F10</kbd> and <kbd>Ctrl+.</kbd>) to bring up that context menu.

[2015-09-30 15:29] OkayX6 commented on #1126
No :)

[2015-09-30 15:31] OkayX6 opened #1128 "F# function syntax colors weird behavior"
The colors was already defined as orange in the options, but my functions were always colored in black.

I had to change its color again and then revert to the orange for it to work! Could it be because I had installed Windows 10 or VS 2015, which deleted the colors from a registry?

[2015-09-30 15:42] dungpa commented on #1127
Could you please send a PR for this? We have a list of key bindings at http://fsprojects.github.io/VisualFSharpPowerTools/#Default-Keymap, it would be great to keep it up-to-date.

The source of docs is at https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/docs/content/index.fsx

[2015-09-30 17:01] dungpa commented on #1124
Yes, fully qualified names seem better.

I don't recall why we use short names; maybe @vasily-kirichenko remembers the reason :-).

[2015-09-30 17:03] dungpa commented on #1128
It would be great to find a consistent repro for this.

[2015-09-30 17:08] vasily-kirichenko commented on #1124
I do not remember either :) It seems the right thing though:

[code]
Do you think that the following is better?
[code]

[2015-09-30 17:10] vasily-kirichenko commented on #1126
Is `unit -> unit` a type?

[2015-09-30 18:07] vasily-kirichenko commented on #1126
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1129

[2015-09-30 18:07] #1126 closed

[2015-09-30 18:09] OkayX6 commented on #1128
Where are custom colors typically stored?

[2015-09-30 18:12] OkayX6 commented on #1124
Can we easily distinguish between 'top level modules' (1 module for the entire file) vs explicit modules like in your example?

[2015-09-30 18:16] dungpa commented on #1128
I don't know. You can try to run Process Monitor (from SysInternals), save custom colors and check where the settings are persisted.

[2015-09-30 20:37] dungpa commented on #1124
I think using `open A` might be wrong in some cases if there are multiple `A` modules from different namespaces. But we don't yet see any bug related to this; so keeping short names is good because it is aesthetically pleasing.

[2015-10-01 07:48] forki opened #1130 "VFPT should provide a quickfix action which removes trailing whitespace"
FsLint squigglies should squiggle over full error

![image](https://cloud.githubusercontent.com/assets/57396/10215396/73befeb8-6821-11e5-89c3-a71acedb6a33.png)

[2015-10-01 07:51] vasily-kirichenko commented on #1130
That's what it did initially and the squiggles spread over many lines in most lint cases so the majority of lines in file were touched. So I artificially cut the span to one line, two chars at most. Maybe we should add a setting for this?

[2015-10-01 08:01] forki commented on #1130
nope. If this intentionally then it's OK. I change my request to: VFPT should provide a quickfix action which removes trailing whitespace.
Note: this is different from normal "Format code" since I don't always want to touch non-whitespace code.

[2015-10-01 08:37] vasily-kirichenko commented on #1130
Yes, I think quick fixes should be provided for most Linter hints.

[2015-10-01 10:11] dungpa commented on #1130
It would be great to have relevant info (input ranges, suggestions, etc.) from FSharpLint to implement quick fixes /cc @duckmatt. I bet it's really tricky for certain rules; but who knows.

[2015-10-01 10:13] forki commented on #1130
Let's start with this "simple case" as a test.
On Oct 1, 2015 12:12 PM, "Anh-Dung Phan" <notifications@github.com> wrote:

[2015-10-01 13:38] cloudRoutine opened #1131 "General Approach to Syntax Highlighting"
## General Approach to Syntax Highlighting

When you look at the other languages that VS supports, each one has a full set of syntax/language construct categories so that its color scheme can exist independent of all the other languages, F# should do the same.
## Need To Add
-    F# Keywords
-    F# Identifiers
-    F# Number Literal
-    F# String Literal
-    F# Character
-    F# Comment
-    F#

[2015-10-01 13:44] dungpa commented on #1131
I agree in principle.

However, C# doesn't have separate categories for literals/comments/identifiers, etc.
Historically, Visual F# Tools also use these built-in categories; we shouldn't override those because it may lead to color clashing.
So we still have to use literals/comments/identifiers as general categories for F# code.

the quotation should remain visible.

This is an ordering bug. Feel f

[2015-10-01 13:46] cloudRoutine commented on #1131
C++

[2015-10-01 13:53] vasily-kirichenko commented on #1131
the quotation should remain visible.

That's the way it works now.

[2015-10-01 14:06] cloudRoutine commented on #1131
### C++
![](http://i.imgur.com/epvJQHx.png)

### Powershell
![](http://i.imgur.com/tAqhaa3.png)

### D
![](http://i.imgur.com/gIJcUVv.png)

Other languages have seen it fit to push the categories beyond C#'s, so I don't think we should let C# hold us back ;)

C# doesn't have its own specific categories because C# is the assumed default language, and the categories `String`, `Number`, `Comment`, `F

[2015-10-01 14:21] cloudRoutine opened #1132 "Code Quotations Foreground Highlighting"
Code Quotations should only change the background color of the spans they encompass. The foreground coloring for all of the expressions inside
the quotation should remain visible.

@vasily-kirichenko  I uninstalled VFPT before taking this screenshot.
[Reinstalled VFPT using this build](https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.1.0-a1509301808)
![](http://i.imgur.com/K4y

[2015-10-01 14:29] vasily-kirichenko commented on #1131
I suspect most people don't use even the categories we already have. I rarely see (on screencasts and screenshots) Patterns, Mutable vars, Operators and Functions categories colorized. What's the point to introduce even more of them?

[2015-10-01 14:39] cloudRoutine commented on #1131
The reason why they don't might not be because they don't want the options, but that the process of setting up and configuring fonts and colors in VS is incredibly tedious and painful. If VFPT had an import/export configuration setting and shipped with some syntax color schemes you'd probably see a lot more of them.

[2015-10-01 14:46] vasily-kirichenko commented on #1131
I agree about a bunch of color schemes :+1:

[2015-10-01 21:47] duckmatt commented on #1130
A simple non-formatted suggestion could probably be generated for lots of the lint hint warnings as an extension of the lint api, this could then be run through fantomas to give a nice fix

[2015-10-02 05:37] dungpa commented on #544
This has been fixed in FCS 1.4.0.6. Could you please check?

[2015-10-02 07:02] vasily-kirichenko commented on #544
I confirm it's fixed.

[2015-10-02 07:03] vasily-kirichenko commented on #544
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1134

[2015-10-02 07:03] #544 closed

[2015-10-02 07:17] vasily-kirichenko commented on #1132
That's how it looks like in VS 2013 (without the @dungpa fix):

![image](https://cloud.githubusercontent.com/assets/873919/10241199/73cdbcdc-68ee-11e5-8fb1-6865542c5868.png)

Strangely, the only thing that's wrong is that the AP usage is not colored (the obvious but with `let x = ` being colorized as quotation aside).

[2015-10-02 08:18] vasily-kirichenko commented on #1132
The wrong quotation ranges fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1135

[2015-10-03 08:59] vasily-kirichenko commented on #1132
Seems to work OK in VS 2015:

![image](https://cloud.githubusercontent.com/assets/873919/10262206/26749482-69c6-11e5-8b87-186ba438200e.png)

[2015-10-03 09:25] dungpa opened #1137 "Color active patterns being used as functions"
Example:
[code]

Currently, usage of active patterns isn't being colored at all.

The reason is that we have a sanity check to rule out faulty ranges at https://github.com/fsprojects/VisualFSharpPowerTools/blob/a2abbd756b4226b71fb03946cdc9def8b3278550/src/FSharpVSPowerTools.Core/SourceCodeClassifier.fs#L234-L255. Active patterns' ranges consist of ranges for `|AAA|_|`, so right columns are 3 chara

[2015-10-03 10:22] #1132 closed

[2015-10-03 11:03] vasily-kirichenko commented on #1137
Working on it. It's indeed tricky.

[2015-10-03 11:07] dungpa commented on #1130
We may be able to start with simple quick fixes once FSharpLint integration completes.

[2015-10-03 13:47] #1089 closed

[2015-10-04 15:23] #1137 closed

[2015-10-05 08:18] yuyoyuppe opened #1143 "formatting code with duck typing results in unnecessary parentheses"
This:
[code]
after `CTRL+K,F` becomes this:
[code]

[2015-10-06 15:55] OkayX6 opened #1144 "Open namespace/module for exceptions"
It didn't manage to open ``canopy.types``

![image](https://cloud.githubusercontent.com/assets/1169339/10314111/59866ffa-6c53-11e5-94e0-369a7abe60ef.png)

[2015-10-06 15:57] vasily-kirichenko commented on #1144
In pattern matching or everywhere?

[2015-10-06 16:07] OkayX6 commented on #1144
Oh I didn't try, I'll tell you that in a few secs.

[2015-10-06 16:21] OkayX6 commented on #1144
It's in Pattern matching (it works if I do ```let x = new CanopyException```) :).

[2015-10-06 16:59] vasily-kirichenko commented on #1144
Thanks. Will fix it.

[2015-10-06 17:28] dungpa commented on #1143
Thanks for reporting. I will have a look.

[2015-10-06 17:36] kkm000 opened #1145 "MEF discovery error logged in VS2015 RTM, VFSPT 2.0.0"
I was scanning the MEF composition log `%LocalAppData%\Microsoft\VisualStudio\14.0\ComponentModelCache\Microsoft.VisualStudio.Default.err` for an unrelated reason, and stumbled at this message:

[code]

I do not know if it is expected or not. I cannot also tell if any functionality is impaired, but I may easily be missing something. Just thought you should know.

[2015-10-06 19:08] vasily-kirichenko commented on #1144
Fixed via https://github.com/fsprojects/VisualFSharpPowerTools/pull/1146

[2015-10-06 19:08] #1144 closed

[2015-10-08 12:53] dungpa commented on #1145
@kkm000 Thanks for letting us know.

The error comes from the Folder Organization feature. Could you enable the feature in General options dialog and try out whether it's still working?

[2015-10-10 14:50] iccfish commented on #1059
I'm running into the same issue. And this issue doesnot only effects F# projects but also with other projects(such as c#).
Everytime I change the configuration of current project (such change from Debug to Release), Visual Studio hangs up for a long time (almost 20~40secs). This problem troubles me for a long long time, and for a long time I think this was due to other extensions like R#.
Today af

[2015-10-10 15:29] vasily-kirichenko commented on #1059
@iccfish we removed `` two months ago https://github.com/fsprojects/VisualFSharpPowerTools/pull/1076

Try to install the adding build from current master, you can get it here https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/artifacts

[2015-10-11 09:37] vasily-kirichenko opened #1150 "Cannot release"
[code]

[2015-10-11 09:42] vasily-kirichenko commented on #1150
@forki any ideas?

[2015-10-11 09:44] forki commented on #1150
No sorry.

[2015-10-11 09:47] vasily-kirichenko commented on #1150
@forki could you try to release?

[2015-10-11 10:32] dungpa commented on #1150
Try 'git blame' on Release target in build.fsx. Revert the related commit I made some time ago.

[2015-10-11 12:17] vasily-kirichenko commented on #1150
@dungpa Reverted the commit
@forki switched to https for git push
============> success until it tried to release on github:
[code]

[2015-10-11 15:53] vasily-kirichenko commented on #1150
Uploaded the VSIX by hand to github and to VS Gallery. The remaining problem is that VS does not show that there is an update :( Any ideas?

[2015-10-11 15:57] dungpa commented on #1150
VS gallery shows correct version. It may take a while. You can search the extension in VS to verify new the version.

[2015-10-11 16:32] vasily-kirichenko commented on #1150
ah, I've installed the new version, that's why no notification :)

[2015-10-11 17:14] forki commented on #1150
Where is the announcement tweet for me to retweet? ;-)
On Oct 11, 2015 6:32 PM, "Vasily Kirichenko" <notifications@github.com>
wrote:

[2015-10-11 17:34] vasily-kirichenko commented on #1150
Done :)

[2015-10-11 20:47] miegir commented on #1128
Maybe this repro can help or maybe it is another problem:
1. Install Visual Studio 2015 Color Theme Editor extension from https://visualstudiogallery.msdn.microsoft.com/6f4b51b6-5c6b-4a81-9cb5-f2daa560430b?SRC=VSIDE
2. Change theme to Solarized (Dark).
3. Open F# file.
After VFPT colorizes it, background for text only (not for entire editor, especially visible in short files) changes to white. But

[2015-10-11 21:15] miegir opened #1151 "Formatting code changes 'default val' and 'override val' to 'member val'"
This:
[code]
and this:
[code]
becomes this (and cannot be compiled):
[code]
I think this is a very rarely used language feature though.

[2015-10-12 07:08] vasily-kirichenko opened #1152 "[Outlining] Missing functionality"
- [x] menu page for outlining where you can check which language constructs
 - [x] you want outlined
 - [x] should be collapsed by default
- [x] `open` blocks
- [x]  `#*` blocks
- [x] `and` for mutually recursive types and functions
- [x] lists
- [x]  arrays
- [x] attributes
- [x] computation expression
- [x] `if`
- [x] `else`
- [x] `elif`
- [x] `then`
- [x] `then` in constructors
- [x] `with` in

[2015-10-12 08:43] sideeffffect opened #1153 "Integration with FSharpLint doesn't work"
In VS Options *F# Power Tools* -> *Lint* gives *An error occurred loading this property page*.

[2015-10-12 09:17] vasily-kirichenko commented on #1153
@duckmatt could you look at it ASAP?

[2015-10-12 09:23] vasily-kirichenko commented on #1153
I cannot reproduce it, unfortunately.

[2015-10-12 10:19] vasily-kirichenko opened #1154 "Custom dialog for "Navigate to""
Advantages:
* an ability to add more powerful search modes, like
  * by upper case letters (`AB` => [`AaBbbb`; `ABCcc`])
![image](https://cloud.githubusercontent.com/assets/873919/10425759/e7297f80-70e2-11e5-8da3-0c94cc4102fb.png)
  * fuzzy (`abc` => `AbFfCc` or something like this)
* save previous patterns and use the last used by default and allow the user select from history
* select in what fi

[2015-10-12 10:23] duckmatt commented on #1153
I can't seem to recreate this either, couple of questions to help diagnose:
* What version of Visual Studio are you using?* Does this error occur for all projects or a specific project?* Have you tried re-installing the extension?* Is there any related information in the [Activity Log](http://blogs.msdn.com/b/visualstudio/archive/2010/02/24/troubleshooting-with-the-activity-log.aspx
I'll try to ta

[2015-10-12 11:00] vasily-kirichenko commented on #1152
Standard key bindings do not work. No context menu either.

[2015-10-12 11:17] dungpa commented on #1094
It has been done in v2.1.0. Thanks Matt for the great work.

[2015-10-12 11:17] #1094 closed

[2015-10-12 11:31] dungpa commented on #1152
It seems that we're missing a lot of ranges of important constructs. I wonder whether we should make use of DepthParser here; it has lots of functions for processing ranges https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Core/DepthParser.fs ?

There are different ways of using DepthParser: (1) Use their range functions (2) Use their main functions (3) Use th

[2015-10-12 11:33] dungpa commented on #1152
I can take care of the key binding stuff. A command handler is missing here.

[2015-10-12 11:34] dungpa commented on #1151
Thanks for the bug report. I'll take a look.

[2015-10-12 11:36] vasily-kirichenko commented on #1152
As we plan to add settings for what kind of symbols are outlined and what of them are collapsed by default, we should keep "kind" of block (module level N, let binding level N, DU, class, record, enum, PM etc.) alongside with it. It makes DepthParser unusable for the task.

[2015-10-12 12:46] sideeffffect commented on #1153
* What version of Visual Studio are you using?
  * VS 2013
* Does this error occur for all projects or a specific project?
  * all projects I tried
* Have you tried re-installing the extension?
  * not yet, just updated to the latest version; I will try that now
* Is there any related information in the [Activity Log](http://blogs.msdn.com/b/visualstudio/archive/2010/02/24/troubleshooting-with-the

[2015-10-12 13:09] dungpa commented on #1152
I understand that people want to control the depth of outlining. Why do we treat some constructs better than others? It seems too complex without added benefits.

Why don't we support all constructs above (if possible) and allow controlling outlining depth?

[2015-10-12 13:25] vasily-kirichenko commented on #1153
@sideeffffect could you be so patient to clone VFPT repository, build it and run an experimental VS instance under the debugger (set active project to `FSharpVSPowerTools` (the only C# one in the solution)) and watch for exceptions?

[2015-10-12 13:29] vasily-kirichenko commented on #1152
@dungpa ok
As you working on key bindings, are you sure "Collapse to definitions" will work?

[2015-10-12 13:30] sideeffffect commented on #1153
what is that? I'm asking because I can't install any software, I can only use the normal VS 2013 that I have.

[2015-10-12 13:32] vasily-kirichenko commented on #1153
It will be launched when you press F5. It's a normal VS, but with clean settings. Also you need VS SDK installed (it's a small VS component).

[2015-10-12 13:34] dungpa commented on #1152
I'm not sure, but it's no harm to try. I'll only get to that in a few days when I have Internet at home.

[2015-10-12 14:29] vasily-kirichenko opened #1155 "VSIX is not installed into an experimental VS instance during debugging"
1. Change our usual Exp prefix to something else so the cmd args are like `/rootsuffix Exp5 /log`
2. Start debugging
3. VS pops up
4. No VFPT installed in it

[2015-10-12 14:35] dungpa commented on #1155
You need to bump VSIX version. Nothing is done if VS can't see a newer version of an extension.

[2015-10-12 17:10] duckmatt commented on #1094
No problem, thank you for including it

[2015-10-12 17:37] vasily-kirichenko commented on #1155
@dungpa it does not help :(

[2015-10-12 19:37] vasily-kirichenko commented on #1155
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/commit/01099ec0de228524f1e482c9f0451ba1b0b58af9

[2015-10-12 19:37] #1155 closed

[2015-10-12 21:49] dungpa commented on #1041
It's not possible to do this atm. I'm closing this until there is a public API to do it.

[2015-10-12 21:49] #1041 closed

[2015-10-12 22:41] TeaDrivenDev commented on #1153
I'm seeing this too, with VS 2013 and 2015, even with no project/solution open at all. I uninstalled and reinstalled in 2015, with no change.

I can add that the first time accessing options dialog per Visual Studio session, it produces the message stated by @sideeffffect; after that, the "Lint" properties page is completely empty until you restart Visual Studio.

Also, the actual FSharpLint integ

[2015-10-12 22:56] TeaDrivenDev opened #1157 "Intermittent "Assertion Failed" dialogs when editing file in experimental instance"
I am "randomly" getting a dialog showing this stack trace while editing a (generally error free) .fsx file in a VS experimental instance - is that an error or just a development check?

---------------------------
Assertion Failed: Abort=Quit, Retry=Debug, Ignore=Continue
---------------------------
Attempting to create a SnapshotSpan (StartLine = 77, StartColumn = 4, EndLine = 77, EndColumn = 5)

[2015-10-13 04:22] omanuke opened #1158 "Lint works fine. But it's difficult where is wrong."
Lint suggests where is wrong with wave under line, but it should be more wider.
With scroll bar map I can know approximate location, but wave line isn't obvious ,so I can't find location in detail.

[2015-10-13 04:52] yukitos commented on #1158
Same here.
Only first 2 characters have wavy underline.
![image](https://cloud.githubusercontent.com/assets/1076180/10445748/98714d1c-71b1-11e5-9a3d-06db68d1deba.png)

[2015-10-13 05:13] vasily-kirichenko commented on #1158
This is by design. If we underlined whole ranges FsLinter gives us, most of the code would be squiggled with orange.

[2015-10-13 05:22] yukitos commented on #1158
Thank you for the clarification.
That makes sense :+1:

[2015-10-13 05:25] omanuke commented on #1158
As u told,underlining whole range may be cumbersome, but still I feel it's not obvious. especially in white back ground.
I tried another color like red, situation is same.
If you can give us an option of thickness of wavy line, it may work. Is it difficult?

[2015-10-13 05:44] vasily-kirichenko commented on #1158
Yes, changing of how the wavy is rendered is difficult. Currently we just yielding error tags to VS and it show them as it want. To change the style we should switch to adormennts (that is what we use in Depth Colorizer feature). It seems possible, but need investigation and time.

[2015-10-13 06:04] omanuke commented on #1158
make sense.
In dark background, orange wavy line is more noticeable.
I will try dark theme.
Thx.

[2015-10-13 06:52] vasily-kirichenko commented on #1158
I'm all for adding settings for this, like maximum number of chars to highlight and the style of the wavy, fill free to add a separate issue with suggestions.

[2015-10-13 06:56] vasily-kirichenko commented on #1157
It's an all-time known issue. It's not appear in release configuration.

[2015-10-13 07:45] dungpa commented on #1153
@TeaDrivenDev Could you try to clear Visual Studio Component Model Cache http://stackoverflow.com/a/17604007 ? Maybe it's something funky with the cache.

[2015-10-13 07:51] dungpa commented on #1158
@omanuke F# Lint color can be changed here

![image](https://cloud.githubusercontent.com/assets/941060/10448831/ce3de756-718f-11e5-836e-77097fc0ab27.png)

I hope it's enough to customize it for being more noticeable.

[2015-10-13 08:02] dkinitiate commented on #1152
Keybindings work on my machine. Both via VsVim bindings, and via the normal bindings, and via the Edit menu.

[2015-10-13 08:03] vasily-kirichenko commented on #1152
Try it in experimental instance.

[2015-10-13 08:04] vasily-kirichenko commented on #1152
https://github.com/fsprojects/VisualFSharpPowerTools/pull/1159

[2015-10-13 08:17] dungpa commented on #1152
@dkinitiate Maybe another extension has implemented that for you. Possibly Python Tools for VS, NodeJs Tools for VS, PowerShell Tools for VS, etc.

[2015-10-13 08:27] omanuke commented on #1158
@dungpa I know it. But no color is suitable for me in white background.
Some color isn't obvious in white background and some color is similar to the color already used...

[2015-10-13 11:38] dsyme opened #1160 "Performance Discussion: CPU Stress, Large Files, Large Solutions, Memory Stress, Enabled Features etc."
I've been looking into the CPU and Memory usage of VFPT briefly.  Repro using default settings with the latest VS gallery version:
- Open VS2015
- Open the big file "TypeChecker.fs" (without being in a project) from github.com/fsharp/fsharp or FCS
- Wait for CPU acquiesce on the system
- Make a one character change to the file and look at CPU and memory stats

On my laptop, the processing after a

[2015-10-13 12:45] TeaDrivenDev commented on #1153
@dungpa I tried that in both Visual Studio versions; no change there.

[2015-10-13 12:58] dungpa commented on #1153
@TeaDrivenDev I don't understand what is difference between using the extension in normal hives and Exp hives here. Could you try with `devenv /updateconfiguration` as described at http://stackoverflow.com/questions/22300278/registering-an-unpacked-vsix-extension-via-msi-without-using-devenv-setup ? Sorry for the troubles.

[2015-10-13 13:02] pavelhritonenko opened #1162 "Formatting is not working in VS2013"
Latest version of Visual F# Powertools (v2.1.0), Visual Studio 2013.

I see this error in status bar when I try to format some f# code fragment:

![image](https://cloud.githubusercontent.com/assets/2510026/10455371/935c2fa6-71c3-11e5-9b82-9306fe134789.png)

Looks like VFPT cannot find FSharp.Core 4.4.0.0

I don't have VS2015 on my machine.

[2015-10-13 13:07] Andrea opened #1163 "Lint on fresh install on VS 2015 - property page error"
Hi there

It seems like this hasn't been reported here before.
I just installed VS 2015 release community edition and added Fsharp Power tools (restarted just for the craic) and this is what I see on the property page for lint

![image](https://cloud.githubusercontent.com/assets/3103/10455508/a84d2db2-71b3-11e5-8b9c-38db97fdc426.png)

if you want me to debug I could use some instructions :D

[2015-10-13 13:12] dungpa commented on #1162
Thanks. I should have tested on a machine with VS2013 only.

[2015-10-13 13:18] dungpa commented on #1163
@Andrea I have a few questions:

1. Does any feature work in your installation?
2. Is there any F# Power Tools entry in C:\Users<user name>\AppData\Roaming\Microsoft\VisualStudio\14.0\ActivityLog.xml?

Thanks.

[2015-10-13 13:34] Andrea commented on #1163
1) yes, I see the track lines and unused code is greyed out
2) Just the begin and end package load
I searched as fsharp power tools f#... fs... and this one is the one that made the most send
[code]

[2015-10-13 13:48] TeaDrivenDev commented on #1153
I don't think there is a difference between experimental and normal hives per se. I ran VS 2015 with a new RootSuffix and installed only VFPT, and that worked. So the issue is likely something that has "happened" to the other profiles.

I tried running `devenv /updateconfiguration` and then `devenv /clearcache`, as explained [here](https://github.com/Microsoft/VSProjectSystem/blob/master/doc/overv

[2015-10-13 16:54] duckmatt commented on #1153
Thanks for the information @TeaDrivenDev would you be able to post a list of your extensions? Hopefully with those installed I may be able to recreate the error

@dungpa Is [this](https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/Linting/LintUtils.fs#L14) an expected way to retrieve a list of project paths? I'm thinking isn't related to another extension

[2015-10-13 17:12] dsyme commented on #1160
(One reason I'm mentioning  this is because I was using the new version today, editing FSharp.Compiler.Service became unusable after about 10 minutes.  However it seemed to be doing better than previous versions. This was even after disabling FSharpLint and QuickInfoPanel)

[2015-10-13 17:30] vasily-kirichenko commented on #1160
Don, am I understand correctly that Visual F# Tools internal compiler service is able to recheck `TypeChecker.fs` in 3 seconds? Assuming that FCS as fast as the VFT's CS, 22 seconds is VFPT overhead? I hardly believe it. We should test FCS on that file independently (outside VFPT). I profiled VS + VFPT many times and always almost all time was spent somewhere deep in FCS.

[2015-10-13 17:54] vasily-kirichenko commented on #1160
Interesting why the degradation? Something wrong with FCS caches I guess.

[2015-10-13 18:49] dungpa commented on #1158
I'm closing this as being solved by #1164. Further feedback is welcome.

[2015-10-13 18:49] #1158 closed

[2015-10-13 19:34] TeaDrivenDev commented on #1153
@duckmatt I don't think it's related to getting the project paths, because the behavior is already wrong when there is no project open at all (error message vs. "no project open" message).

My installed extensions in VS 2015 (slightly different in 2013) are the following:

Better Start Page
CodeLineage
CodeMaid
File Nesting
Git Diff Margin
Git Tools
MultiEditing
NCrunch
OzCode
Paket
Productivity P

[2015-10-13 20:02] vasily-kirichenko commented on #1160
I profiled with Highlight references enabled (only). It took about 20 seconds while CPU was loaded at 25% (4-core). 3 threads were working (+ 1 GC one):

![image](https://cloud.githubusercontent.com/assets/873919/10466695/4d33a19a-71fe-11e5-8b76-b90da96e5fa2.png)

First:

![image](https://cloud.githubusercontent.com/assets/873919/10466647/fb5eadb0-71fd-11e5-8a2a-d9abaa5e0a31.png)

Second:

![image

[2015-10-13 20:11] vasily-kirichenko commented on #1160
With VFPT disabled:

![image](https://cloud.githubusercontent.com/assets/873919/10466870/3c6efb10-71ff-11e5-9ab9-568ec8e9e313.png)

Now we have one working thread (dotTrace does not show stacks for the bottom thread, so it's GC or something other unrelated), it's the type checker and it magically has done the job in 3 seconds.

I make a conclusion that FCS is ~5 times slower at checking a file in

[2015-10-13 20:18] dungpa commented on #1153
@TeaDrivenDev @sideeffffect I produced a new build v2.1.1 that includes some more logging https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.2.0-a1510132010/artifacts.

If you install this version and enable Diagnostics mode http://fsprojects.github.io/VisualFSharpPowerTools/faq.html#What-is-Diagnostic-mode-When-should-I-use-it, there might be some logs for us to find out the ro

[2015-10-13 20:19] dungpa commented on #1163
Unfortunately, there was no error in the log.

I produced a new build v2.1.1 that includes some more logging https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.2.0-a1510132010/artifacts.

If you install this version and enable Diagnostics mode http://fsprojects.github.io/VisualFSharpPowerTools/faq.html#What-is-Diagnostic-mode-When-should-I-use-it, there might be additional infor

[2015-10-13 20:23] dungpa commented on #1160
@dsyme I think the slowness on FSharpLint integration is an oversight. We only rely on untyped ASTs so it should be fast enough.

I did some improvements on Lint and QuickInfo in the new build, could you please check https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.2.0-a1510132010/artifacts?

[2015-10-13 20:35] dsyme commented on #1160
Great to be able to get those profiling reports.

Also, let me say that the latest version is a _huge_ improvement.  Those improvements are why I'm trying again on the really big solutions that I need to work on (previously I had deactivated many VFPT features on really big solutions).

I do want to go through things carefully, but the overall point was that the CPU budget feels a bit strained by

[2015-10-13 20:43] cloudRoutine commented on #1152
@dungpa  `Ctrl+M, Ctrl+X` & `Ctrl+M, Ctrl+A` work for me too

[2015-10-13 20:53] TeaDrivenDev commented on #1153
That outputs this when switching to the "Lint" properties page for the first time in VS 2015 (nothing at all in 2013, though):

[code]

Every activation of "Lint" after that first time only logs the second stack trace again.

[2015-10-13 21:02] dungpa commented on #1153
@ReedCopsey Would you mind having a quick look? I guess this is a totally new use case for FsXaml where its XAML control is used as a Visual Studio options dialog by inheriting `UIElementDialogPage`.

It's really mysterious since the error occurs for some users but not for others. Please see the stack trace above and the code at https://github.com/fsprojects/VisualFSharpPowerTools/tree/master/src/

[2015-10-13 21:04] ReedCopsey commented on #1153
@dungpa I'll take a look and see if I can figure out what's happening.

[2015-10-13 21:10] dsyme commented on #1160
BTW note that the memory costs for the different features mentioned above are not additive - when two features are enabled, they share a lot of FCS symbol/type-checking-results resources.

[2015-10-13 21:57] ReedCopsey commented on #1153
@dungpa @TeaDrivenDev Given your stack trace, the problem is that it's failing trying to load and setup System.Windows.Interactivity's InvokeCommandAction here: https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/LintOptionsPageControl.xaml#L83-L85

Is there a way to diagnose which version of System.Windows.Interactivity.dll is being loaded in Visual Studi

[2015-10-13 22:10] TeaDrivenDev commented on #1153
@ReedCopsey Hmmm.... fuslogvw.exe, maybe? Worth a try at least, I guess.

[2015-10-13 22:14] TeaDrivenDev commented on #1153
So, apparently it *is* ReSharper. I just suspended it in my normal VS 2015 profile and after restarting VS, I can access the Lint properties page and get no errors logged.

[2015-10-13 22:14] ReedCopsey commented on #1153
@TeaDrivenDev Can you try running with fuslowvw.exe running on the system that's failing, and send a log of the WPF and System.Windows.* errors?

[2015-10-13 22:32] dkinitiate commented on #1153
Installed latest version of extension from AppVeyor. Upon trying to open lint under options VS crashes, this is what the last exception in activitylog.xml had to say:

[code]

Did not happen in the experimental hive.

[2015-10-13 22:33] TeaDrivenDev commented on #1153
@ReedCopsey Even when I set it to "Log all binds to disk", `System.Windows` does not show up in the entire log from starting VS until activating the "Lint" properties page.

Another thing that might be worth a try (now that we probably know the culprit) is installing ReSharper in the `Exp` hive and then debugging VFPT.

[2015-10-13 22:35] ReedCopsey commented on #1153
@duckmatt @dungpa This could be worked around by just removing the references to System.Windows.Interactive here https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/LintOptionsPageControl.xaml#L83-L85 and https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Logic/LintOptionsPageControl.xaml#L8  and then, instead, hooking

[2015-10-14 07:13] #1153 closed

[2015-10-14 07:36] 7sharp9 commented on #1160
In xamarin studio we also have similar issues, one thing Ive noticed is that the request to re-parse callback seems to get called if you request type checks too frequently.

i.e. If I make two requests for type checks 600ms apart the compiler will tell me that the file is dirty and need re-parsing on the second request …which then causes me to request another type check.

[2015-10-14 07:40] vasily-kirichenko commented on #1160
@7sharp9 but we have this logic https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Core/LanguageService.fs#L210-L215
which should prevent type checking a file until FCS is done with the previous one.

[2015-10-14 08:28] dungpa commented on #1153
@TeaDrivenDev @sideeffffect We need help to verify whether the bug has been fixed in https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.2.0-a1510140720/artifacts ?

Thank you.

[2015-10-14 08:30] dungpa commented on #1163
@Andrea We pushed a fix at https://github.com/fsprojects/VisualFSharpPowerTools/pull/1166. Could you verify this build whether the bug is gone https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.2.0-a1510140720/artifacts . Thanks.

[2015-10-14 08:42] vasily-kirichenko commented on #1160
I profiled with VS Concurrency Visualizer with custom markers (see https://github.com/vasily-kirichenko/FSharpVSPowerTools/commit/5436dd4c5543f78f492470d17168c5c05e1e74fc)

![image](https://cloud.githubusercontent.com/assets/873919/10478510/c8ccfad2-7266-11e5-8b89-ab52b408dcb2.png)

`GetFSharpSymbolUse` (the big blue span) took 4.5 seconds which is comparable with what VFT can do (~3 seconds).

Sm

[2015-10-14 08:55] vasily-kirichenko commented on #1160
Hm. I commented that line (https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/src/FSharpVSPowerTools.Core/LanguageService.fs#L359) and it has not helped at all - FCS still makes full project check.

[2015-10-14 09:05] vasily-kirichenko commented on #1160
After commenting that line FCS stops performing full project checking.

[2015-10-14 09:18] Andrea commented on #1163
Thanks, I just installed it and tried it and now when I go to the lint tab in options is totally empty  :|

This is all relevant log info, but I don't see anything too useful here.
[code]

Since this plug in is also installed on my VS2013 version (Ultimate) I went to check it out there and there is also an empty screen on lint
![image](https://cloud.githubusercontent.com/assets/3103/10479532/e200e

[2015-10-14 09:21] dungpa commented on #1163
Could you enable Diagnostics mode and check Output windows (or ActivityLog.xml) again http://fsprojects.github.io/VisualFSharpPowerTools/faq.html#What-is-Diagnostic-mode-When-should-I-use-it? In general, it needs a F# project being opened in VS in order to show appropriate settings.

[2015-10-14 09:32] Andrea commented on #1163
on VS2013
when you go to the Lint window option
[code]

And from VS2015 , same scenatrio

[code]

[2015-10-14 09:42] dungpa commented on #1163
I think I posted two different VFPT versions in this thread. The first one adds logging and the second one contains a fix. Could you try to install the second version https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.2.0-a1510140720/artifacts ? Notice that the two versions have different timestamps. You have to uninstall the first version before installing this one.

Sorry for

[2015-10-14 09:51] Andrea commented on #1163
Huge sucess!! I thought I had installed that one (didn't realise I had to uninstall)

![image](https://cloud.githubusercontent.com/assets/3103/10480318/7e2acad6-7261-11e5-95ec-c1638e76afc3.png)

[2015-10-14 10:06] vasily-kirichenko commented on #1160
Same scenario, now I'm profiling with all features which do not require project checking on:

![image](https://cloud.githubusercontent.com/assets/873919/10480440/e2347a70-7272-11e5-8031-85219a47dc00.png)

![image](https://cloud.githubusercontent.com/assets/873919/10480427/d8b7c3e4-7272-11e5-8f3f-cc98857c5f2b.png)

Notes:
* there are three long `ParseAndCheckFileInProject` calls, performed sequenti

[2015-10-14 10:20] dungpa commented on #1163
Thanks. I'm closing this issue as fixed.

[2015-10-14 10:20] #1163 closed

[2015-10-14 10:44] Andrea commented on #1163
Thanks to you :D

Andrea
www.roundcrisis.com

On 14 October 2015 at 11:20, Anh-Dung Phan <notifications@github.com> wrote:

[2015-10-14 10:46] vasily-kirichenko commented on #1160
The version with `StartBackgroundCompile` removed (+ "Gray out unused opens" does not need project check results) is here https://github.com/fsprojects/VisualFSharpPowerTools/pull/1168

I believe FsLinter should be profiled separately, feeding `TypeChecker.fs` AST to it (it looks like the rules can be called in parallel?)

[2015-10-14 11:35] TeaDrivenDev commented on #1153
@dungpa Yes, it is for VS 2015; it doesn't even offer installing to 2013, though.

[2015-10-14 12:02] sideeffffect commented on #1153
works on VS 2013 :smile:
thank you

[2015-10-14 13:25] dungpa commented on #1153
Thanks guys.

[2015-10-14 13:58] vasily-kirichenko opened #1170 "[Coloring] Argument attributes are not taken into account for calculating unused opens"
![image](https://cloud.githubusercontent.com/assets/873919/10485781/afccf752-7294-11e5-8e08-f2d817049da3.png)

[2015-10-14 14:38] vasily-kirichenko commented on #1170
Fixed via https://github.com/fsprojects/VisualFSharpPowerTools/pull/1169

[2015-10-14 14:38] #1170 closed

[2015-10-14 15:59] TeaDrivenDev commented on #1153
Any idea why I might not be able to install this in VS 2013? I can (re)install the released version from the gallery, and I could install yesterday's version with the extended logging, but this VSIX behaves as if it was built for 2015 only.

[2015-10-14 17:17] dungpa commented on #1153
The two versions in this thread have the same version number, so you have to uninstall it from VS 2013 before installing again. VSIX installers skip VS 2013 because it sees that the same version has been installed.

[2015-10-14 17:51] TeaDrivenDev commented on #1153
That worked for 2015, but I still get "This extension is already installed to all applicable products." after uninstalling from 2013 and running the VSIX. Oh, and that happens now with yesterday's version too, which I could install then. Installing the released version from the gallery still works fine. It looks like it thinks 2.1.1 is still installed (but lets me install 2.1.0 nonetheless). I hav

[2015-10-14 19:08] vasily-kirichenko commented on #1160
About linter. I profiled VFPT with it enabled on same scenario as above, but on my laptop. Parse&Check took 12 seconds, Linter - 8 seconds (linting itself):

[code]
![image](https://cloud.githubusercontent.com/assets/873919/10494582/c522e1cc-72bf-11e5-8532-54073aaa56ac.png)

However Linter runs in separate thread, it took too much time and definetly should be profiled. /cc @duckmatt

[2015-10-14 20:14] duckmatt commented on #1160
I'll have a look at improving thee performance of the linter

[2015-10-14 22:40] 7sharp9 commented on #1160
Is linter being given the parse and check results?

[2015-10-15 05:02] vasily-kirichenko commented on #1160
Parse results only, see the snippet above.

[2015-10-15 11:03] dsyme commented on #1160
Another general observation....

The performance of Visual Studio really tanks whenever memory gets above 2.5GB.  That feels like a "hard" limit where the CLR just starts to GC too often, with long pauses on the UI thread.  It sometimes takes me minutes to save my work and exit when it gets into this state.  I only ever reach this limit when using VFPT on large solutions.

It's possible that VFPT

[2015-10-15 11:12] vasily-kirichenko commented on #1160
I think the number of VFTP features enabled has no relation with memory consumption because all the memory is FCS caches. It's easy to reach 2.5 GB - just run "Find all refs" for a common symbol like `string` on a large solution.

It would be nice if VFPT could pass FCS a callback which would return a status like "shrink the caches immediately" or "everything is ok" and it would be called periodic

[2015-10-15 11:20] dungpa commented on #1160
@dsyme Is there any way to set FCS cache size limit? Let's say if the cache grows more than 1G, it should drop some old entries to have space for new entries.

[2015-10-15 11:22] vasily-kirichenko commented on #1160
@dungpa the caches use weak references for some of data (I cannot understand the logic in its fullness though), so it should do just that - throw data in case of memory pressure.

[2015-10-15 11:29] dsyme commented on #1160
@vasily-kirichenko  @dungpa  Not enough data held weakly to solve the problem, partly because weak data gets thrown away a bit too aggressively.

I agree that a "clean things out now!"  feature is needed to empty and downsize the FCS caches.

[2015-10-15 11:33] dsyme commented on #1160
Can I ask, why do you create [5 FSharpChecker instances](https://github.com/fsprojects/VisualFSharpPowerTools/search?utf8=%E2%9C%93&q=FSharpChecker)?  I think you should only create one.  AFAIK each holds it's own caches.

[2015-10-15 11:33] vasily-kirichenko commented on #1160
I think the feature should be less aggressive, like "clean up some of caches". Then we could periodically check how much memory devenv.exe uses and if it's still too high, call it again.

[2015-10-15 11:34] vasily-kirichenko commented on #1160
Wow! Will check it immediately.

[2015-10-15 11:35] vasily-kirichenko commented on #1160
Omg. Will fix it.

[2015-10-15 11:54] vasily-kirichenko commented on #1160
Actually everything is ok and we have single FCS instance. I cleaned thing up a bit though here  https://github.com/fsprojects/VisualFSharpPowerTools/pull/1173

[2015-10-15 12:20] vasily-kirichenko commented on #1160
What's more, number of `FSharpCheck` instances does not matter anyway since the caches are static.

[2015-10-15 12:23] 7sharp9 commented on #1160
In XS memory is a massive issue when working with the F# compiler solution.

[2015-10-15 12:24] vasily-kirichenko commented on #1160
@7sharp9 is it 32-bit too?

[2015-10-15 12:24] 7sharp9 commented on #1160
Currently, yes.

[2015-10-15 12:24] vasily-kirichenko commented on #1160
What's the reasons?

[2015-10-15 12:25] 7sharp9 commented on #1160
There are some issues relating to making Gdk 64 bit I think.

[2015-10-15 12:33] vasily-kirichenko opened #1174 "FCS does not return symbol for a class which has become module"
`DepthParser` was a class in different project, I made it a module. Now no way to force FCS to return a symbol for it:

![1](https://cloud.githubusercontent.com/assets/873919/10513637/9ba0cbec-7351-11e5-981f-a156b1b4b176.gif)

Closing/opening the file does not help either.

[2015-10-15 12:37] dsyme commented on #1160
@vasily-kirichenko   Great to have that cleaned up.  AFAICS the caches are not static, see

* https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/vs/service.fs#L2182

* https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/vs/service.fs#L2240

* https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/vs/service.fs#L2908

[2015-10-15 12:40] vasily-kirichenko commented on #1160
@dsyme great! I think the caches used to be static.

[2015-10-15 12:42] dsyme commented on #1160
@vasily-kirichenko  Yes I think so.  There's a module-static one here but that should really be made instance too: https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/vs/IncrementalBuild.fs#L1090

[2015-10-15 12:47] dsyme commented on #1160
@vasily-kirichenko I see an FSharpChecker() call in FSharpLint here: https://github.com/fsprojects/FSharpLint/blob/d3d5d3e77dbdf5ed33dba13f2c2dd016e543f73f/src/FSharpLint.Application/Lint.fs#L312.  However some of the code also accepts the checker as a parameter

Are you passing your one-and-only FSharpChecker to FSharpLint or is it using its own one?

[2015-10-15 12:49] dungpa commented on #1160
We use `lintParsedFile` so cached untyped ASTs are used for linting.

[2015-10-15 13:13] vasily-kirichenko commented on #1174
As we don't recheck projects anymore we should somehow invalidate FCS if any of dependent projects has been rebuilt.

[2015-10-15 13:21] vasily-kirichenko commented on #1174
I believe there was this functionality. Cannot find now.

[2015-10-15 13:29] dungpa commented on #1174
You mean this https://github.com/fsprojects/VisualFSharpPowerTools/blob/0fc4314320fb97cdad9249da1bf3fe21eaafb160/src/FSharpVSPowerTools.Logic/SyntaxConstructClassifier.fs#L345-L354?

I think the problem is that the referenced project is still in cache https://github.com/fsprojects/VisualFSharpPowerTools/blob/0fc4314320fb97cdad9249da1bf3fe21eaafb160/src/FSharpVSPowerTools.Logic/ProjectFactory.fs#L7

[2015-10-15 13:38] vasily-kirichenko commented on #1174
Should we also call `FSharpChecker.InvalidateConfiguration` for the current project?

[2015-10-15 13:39] vasily-kirichenko commented on #1174
And not only coloring not work, all features do not.

[2015-10-15 13:41] vasily-kirichenko commented on #1174
I don't think `ProjectProvider` cache should be invalidated because the project is not changed.

[2015-10-15 13:43] vasily-kirichenko commented on #1174
We should
1. tell FCS to invalidate its caches for the project that was built
2. notify colorizer and Highlight references tagger

[2015-10-15 13:47] vasily-kirichenko commented on #1174
However, doesn't FCS checks if assemblies has changed? If so, then it should already work as expected :(

[2015-10-15 13:52] vasily-kirichenko commented on #1174
On a minimal solution everything work ok.

[2015-10-15 13:58] dsyme commented on #1160
ok, thanks

[2015-10-15 16:54] dsyme commented on #1160
@vasily-kirichenko @dungpa Can you take a look at this please? https://github.com/fsharp/FSharp.Compiler.Service/pull/443

This may be of use in reducing the impact of the hitting-maximum-process-memory-grinds-everything-to-a-halt conditions I get when using VFPT on FSharp.COmpiler.Service.

[2015-10-16 02:16] dsyme commented on #1160
@vasily-kirichenko @dungpa If you have time, perhaps we could do a Skype session in the next few days.  There are some interesting results from observing the FCS queue - both in terms of too many requests being made (when perhaps they shouldn't be), and in terms of FCS not processing the requests fast enough because of a lack of caching of particular items.

But perhaps more importantly I want to

[2015-10-16 08:19] 7sharp9 commented on #1160
In XS we only get the project options *once*, until the current project changes.  Then again we have to use much heavier checker options requests in order to service PCL aware checking results.

[2015-10-16 09:02] vasily-kirichenko commented on #1160
Fixed in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1177

[2015-10-16 09:04] vasily-kirichenko commented on #1160
I'm afraid my spoken English will be a big issue :(

[2015-10-16 09:42] dsyme commented on #1160
@vasily-kirichenko No problem, we can do it via github

[2015-10-16 09:58] dsyme commented on #1160
@vasily-kirichenko Which IM do you use to chat? thx

[2015-10-16 09:59] vasily-kirichenko commented on #1160
skype vasily.kirichenko

[2015-10-16 10:00] vasily-kirichenko commented on #1160
I tried to open 2.5GB VS dump in VS and it failed with Out of memory error :( dotTrace cannot even connect to it, it failed with a COM error.

[2015-10-16 10:03] dungpa commented on #1160
I don't have time in the near term. Too many things are going on with personal life atm.

@vasily-kirichenko Don can deal with my broken spoken English. I'm sure he can deal with yours. Please give it a try :-).

[2015-10-16 11:33] dsyme commented on #1160
@vasily-kirichenko  Yes direct debugging on the massive dumps is very hard

[2015-10-16 11:43] vasily-kirichenko commented on #1160
I've managed to get a snapshot of 1.4GB VS. Half of the managed memory is 16MB `byte[]` objects in LOH.

[2015-10-16 11:48] vasily-kirichenko commented on #1160
Rebuilding VFPT solution adds 100MB, force GC has not free it.

[2015-10-17 13:35] vasily-kirichenko commented on #1154
No way to implement it in any near future. I'm closing it.

[2015-10-17 13:35] #1157 closed

[2015-10-17 19:42] vasily-kirichenko commented on #1152
Lots of missing features have been implemented in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1175

What's left is a settings page and handling comments of all kinds.

[2015-10-17 20:22] vasily-kirichenko opened #1180 "[Outlining] Tooltips contain extra end line characters"
VS 2013

![image](https://cloud.githubusercontent.com/assets/873919/10561030/ea0f0660-7525-11e5-9f41-b24759780d3d.png)

[2015-10-17 20:29] cloudRoutine commented on #1180
Using build [2.2.0-a1510171942](https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.2.0-a1510171942) in VS 2013 my hint tooltip looks like

![](http://i.imgur.com/z6YcNg4.png)

It looks like your screenshot is from the experimental instance, this is the issue I told you about earlier today.

[2015-10-17 20:32] vasily-kirichenko commented on #1180
No, it is from normal instance.

[2015-10-17 21:59] dungpa commented on #1072
@dbwz8 Apologize for the slow reply.

Could you try a recent build with a potential fix for the issue https://ci.appveyor.com/project/dungpa/visualfsharppowertools/build/2.2.0-a1510171153?

Due to historical reasons, XmlDoc generation wasn't cached properly as other features. It has been corrected in https://github.com/fsprojects/VisualFSharpPowerTools/pull/1173 and https://github.com/fsprojects/V